#### Guess the output

In [1]:
str1 = "AaBbCcDdEeFf"
var = "c"

while var in str1:
    str1 = str1[:-1]
    print(var, end = " ")

c c c c c c c

In [1]:
### 

fruits = ['apple', 'banana', 'mango', 'watermelon']

for fruit in fruits:
    fruit = fruit.capitalize()
    if fruit == 'Mango':
        break
else:
    print("Hello there")

As we can see that within for loop the if condition is satisfied and when it is satisfied the 'break' statement will execute and control will be come out from the for loop and it will come to the else part of the for loop but the control come out due to 'break' statement that is why else part also will not be executed so there will be no output.

In [1]:
x = ["B", "C", "A"]

x.extend(["X", "Y"])

x.reverse()

x.sort()

print(x)

['A', 'B', 'C', 'X', 'Y']

In [3]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'b':20, 'd':4}

d2.update(d1)

print(d2['b'])

2

In [4]:
max("12345")

'5'

In [5]:
max({'a':1, 'b':6, 'c':3})

'c'

In [6]:
max("abAb")

'b'

In [7]:
l1 = [1,2,3]

l1.extend(4)
print(l1)

TypeError: 'int' object is not iterable

In [10]:
l1 = [1,2,3]

l1.extend((4))
print(l1)

TypeError: 'int' object is not iterable

In [9]:
l1 = [1,2,3]

l1.extend((4,))
print(l1)

# note (4) will be treated as integer and if we add comma ',' along with 4 then it will be
#                                                             treated as tuple.

[1, 2, 3, 4]

In [12]:
l1 = [1,2,3]

l1.extend('4')
print(l1)

[1, 2, 3, '4']

In [13]:
strg = "SMARTQ"
strg[-2:-4]

''

In [14]:
a = 'hello world'

b = a.split('l')

print(b) # wherever ll it will convert second l into ""

['he', '', 'o wor', 'd']

In [15]:
i = 0 
while i<3:
    print(i)
    i+=1
    break
    
else:
    print(0)

0

In [16]:
def writer():
    title = "Sir"
    name = (lambda x:title + " " + x)
    return name

who = writer()

who("Auther")

'Sir Auther'

In [17]:
mylist = [1,5,5,5,5,1]

max_of_list= mylist[0]
indexOfmax = 0

for i in range(1, len(mylist)):
    if mylist[i]> max_of_list:
        
        max_of_list = mylist[i]
        indexofmax = i
        
print(indexofmax)
print(max_of_list)

1
5

In [3]:
mylist = [1,5,5,8,5,1]

m_val = mylist[0]
m_ind = 0

for i in range(len(mylist)):
    if mylist[i]>m_val:
        m_val = mylist[i]
        m_ind = i
        
print("max value : ", m_val)
print("Index of max value: ", m_ind)

max value :  8
Index of max value:  3

In [19]:
var1=90
def example1():
    
    print(var1)
    var1=100
    print("Value of var1:",var1)
    
example1()

# we can access and print global variable inside local space but can't modify it.

# we can modify it when we make it global in local scope or by passing as arguments

UnboundLocalError: local variable 'var1' referenced before assignment

In [24]:
var1=90
def example1(var1):
    
    print(var1)
    var1=100
    print("Value of var1:",var1)
    
example1(var1)

90
Value of var1: 100

In [25]:
var1=90
def example1():
    global var1
    print(var1)
    var1=100
    print("Value of var1:",var1)
    
example1()

90
Value of var1: 100

In [32]:
x = (i for i in range(3))

for i in x:
    print(i)
    
for i in x:
    print(i)
    
# make it clear that the output is actually from which loop we will use print() some text before
# printing these loops in next programs

0
1
2

In [33]:
x = (i for i in range(3))
print("Output from x first time: ")
for i in x:
    print(i)
print()
print("Output from x second time: ")
for i in x:
    print(i)

Output from x first time:
0
1
2

Output from x second time:

In [35]:
x = (i for i in range(3))
y = x
print("Output from x: ")
for i in x:
    print(i)
print()
print("Output from y:")
for i in y:
    print(i)
    
# as we can see by we took 'y' and have same value and id from x so it will be treated as same a x
# in tuple only this happens if here would be a list then it print both for loop

Output from x:
0
1
2

Output from y:

In [36]:
print("id of x:" , id(x))
print("id of y:" , id(y))

id of x: 2101422754496
id of y: 2101422754496

As we can see that they share the same it that is why we got output only once

In [38]:
x = [i for i in range(3)]
y = x[:]
print("Output from x: ")
for i in x:
    print(i)
print()
print("Output from y:")
for i in y:
    print(i)

Output from x:
0
1
2

Output from y:
0
1
2

In [39]:
print("id of x:" , id(x))
print("id of y:" , id(y))

id of x: 2101423540800
id of y: 2101423539904

this time they have different id and that is why we got the output.

In [40]:
x = 10
print(x)
print(x)

10
10

In [1]:
x = [i for i in range(3)]
y = x
print("Output from x: ")
for i in x:
    print(i)
print()
print("Output from y:")
for i in y:
    print(i)

Output from x:
0
1
2

Output from y:
0
1
2

In [2]:
print("id of x:" , id(x))
print("id of y:" , id(y))

id of x: 2308980963328
id of y: 2308980963328

In [4]:
confusion = {}
confusion[1] = 1
confusion["1"] = 2
confusion[1.0] = 4
confusion

{1: 4, '1': 2}

As we know that dictionary cannot hold the duplicate key and above we can see int 1 and float 1.0 is same so that is why the last updation value has been updated i.e. 1 as key and value as 4.

In [5]:
confusion = {}
confusion[3] = 1
confusion["1"] = 2
confusion[1.0] = 4
confusion  

# now by changing the 1 with 3 now there is all different different key ana that is why all key 
# value will be  assigned

{3: 1, '1': 2, 1.0: 4}

In [6]:
def f(a, L=[]): # in default argument list will be instantiate only once and and further it will 
    L.append(a)    # be appended.
    
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [7]:
min("Hello World")

' '

In [1]:
str1 = "Hello"
str2 = "World"
str3 = str1.__add__(str2)

print(str3)

HelloWorld

In [5]:
str1.__add__((" "+str2))

'Hello World'

In [6]:
print(str1.__add__((" "+str2)))

Hello World

In [7]:
a = 12.4
b = 5
c = a.__sub__(b)

print(c)

7.4

In [10]:
a = 12.45
b = 17

a.__sub__(b)

-4.550000000000001

In [11]:
round(a.__sub__(b), 2)

-4.55

In [14]:
a = 23.20

In [15]:
a.__floor__()

23

In [16]:
a = -23

In [17]:
a.__abs__()

23

In [18]:
c = -23
c.__abs__()

23

In [19]:
a = 10
b = 20
c = -23

In [20]:
c.__add__(a)

-13

In [21]:
a.__and__(b)

0

In [22]:
a.__and__(c)

8

In [23]:
a = 10
b = 20
c = -23

In [24]:
a.__bool__()

True

In [25]:
c.__bool__()

True

In [26]:
a = 12.043
b = -23.2

In [27]:
a.__ceil__()

13

In [28]:
b.__ceil__()

-23

In [29]:
a = 10
b = 20
c = -23

In [30]:
a.__class__(c)

-23

In [31]:
class Hello:
    def __init__(self, a):
        self.a = a

In [32]:
hello = Hello(5)

In [33]:
hello.a

5

In [34]:
hello.__delattr__("a")

In [35]:
hello.a

AttributeError: 'Hello' object has no attribute 'a'

In [36]:
a = 10
b = 20
c = -23

In [37]:
a.__dir__()

['__repr__',
 '__hash__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__add__',
 '__radd__',
 '__sub__',
 '__rsub__',
 '__mul__',
 '__rmul__',
 '__mod__',
 '__rmod__',
 '__divmod__',
 '__rdivmod__',
 '__pow__',
 '__rpow__',
 '__neg__',
 '__pos__',
 '__abs__',
 '__bool__',
 '__invert__',
 '__lshift__',
 '__rlshift__',
 '__rshift__',
 '__rrshift__',
 '__and__',
 '__rand__',
 '__xor__',
 '__rxor__',
 '__or__',
 '__ror__',
 '__int__',
 '__float__',
 '__floordiv__',
 '__rfloordiv__',
 '__truediv__',
 '__rtruediv__',
 '__index__',
 '__new__',
 'conjugate',
 'bit_length',
 'to_bytes',
 'from_bytes',
 'as_integer_ratio',
 '__trunc__',
 '__floor__',
 '__ceil__',
 '__round__',
 '__getnewargs__',
 '__format__',
 '__sizeof__',
 'real',
 'imag',
 'numerator',
 'denominator',
 '__doc__',
 '__str__',
 '__setattr__',
 '__delattr__',
 '__init__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__dir__',
 '__class__']

In [38]:
a = 10
b = 20
c = -23

#### Explanation:
The `divmod()` method takes two parameters x and y, where x is treated as numerator and y is treated as the denominator. The method calculates both x // y and x % y and returns both the values. 

`If x and y are integers, the return value is
(x // y, x % y)
If x or y is a float, the result is
(q, x % y), where q is the whole part of the quotient.`

In [53]:
a , b , c = 3, 5, 7

In [54]:
a.__divmod__(b) # here (a//b, a%b)

(0, 3)

In [55]:
a, b = 10, 3

a.__divmod__(b)  # here (a//b, a%b)

(3, 1)

In [60]:
def hello():
    """This is function doc string just for checking"""
    print("welcome to Python's world!")

In [63]:
hello.__doc__

'This is function doc string just for checking'

In [64]:
a = 10

a.__doc__

"int([x]) -> integer\nint(x, base=10) -> integer\n\nConvert a number or string to an integer, or return 0 if no arguments\nare given.  If x is a number, return x.__int__().  For floating point\nnumbers, this truncates towards zero.\n\nIf x is not a number or if base is given, then x must be a string,\nbytes, or bytearray instance representing an integer literal in the\ngiven base.  The literal can be preceded by '+' or '-' and be surrounded\nby whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.\nBase 0 means to interpret the base from the string as an integer literal.\n>>> int('0b100', base=0)\n4"

In [65]:
a, b = 10, 20

a.__eq__(b) # means "equal to "

False

In [66]:
a, b = 10, 10

a.__eq__(b)

True

In [68]:
a.__float__() # change the num into float

10.0

In [73]:
a = 10.23
b = 20

a.__floor__()  # floor value like math.floor

10

In [74]:
import math
math.floor(a)

10

In [75]:
a = 10.2
b = 3

a.__floordiv__(b)  # gives floor division

3.0

In [78]:
a = 34

a.__format__("*<12") # format operations

'34**********'

In [79]:
a.__format__("*^12")

'*****34*****'

In [80]:
a = 10
b = 12
a.__ge__(b)  # greater than or equal to  ">="

False

In [84]:
a = 10
b = 10.0

a.__ge__(b)

NotImplemented

In [85]:
a = 12
b = 10
a.__ge__(b)

True

In [1]:
a = 12
b = 12.0
a.__ge__(b)

NotImplemented

In [39]:
a = 12.0
b = 12
a.__ge__(b)

True

In [41]:
pi : float= 3.142
def circumference(radius: float) -> float:
    
    return 2 * pi * radius

In [42]:
circumference.__annotations__

{'radius': float, 'return': float}

In [43]:
__annotations__

{'pi': float}

In [49]:
class Student:
    def __init__(self, name):
        self.name = name

In [50]:
std = Student("Steve")

In [52]:
std.__getattribute__("name")

'Steve'

In [58]:
a = 20
b = 12
a.__getnewargs__()  # need to find the explaination

(20,)

In [59]:
a = 20
b = 12
a.__gt__(b) # geater than

True

In [61]:
a = 10
b = 10.0

a.__gt__(b) # need to unsderstand

NotImplemented

In [62]:
a = 10.0
b = 10
a.__gt__(b)

False

In [64]:
a.__hash__()

10

`The hash() method returns the hash value of an object if it has one. Hash values are just integers that are used to compare dictionary keys during a dictionary look quickly.`

In [65]:
a = " Helllo word"
a.__hash__()

8649244763165722570

In [66]:
a = 10
a.__hash__()

10

In [67]:

a = 10.0
a.__hash__()

10

In [68]:
# but 
a = 10.1
a.__hash__()

230584300921368586

In [69]:
a.__int__()

10

In [70]:
a = 12.22
a.__int__()

12

In [72]:
a = 12
b = 13
a.__le__(b) # less than "<="  here 'a<=b'

True

In [73]:
b.__le__(a)

False

In [79]:
a = 10
b = 10
a.__le__(b)

True

In [83]:
a = 12
b = 121
a.__lt__(b) # less than '<' i.e. a<b

True

In [84]:
b.__lt__(a) #

False

In [85]:
a = 12.0
b = 121
b.__lt__(a) #

NotImplemented

But whenever we do this operation with 'int' along with 'float' and first element will be float and second one will be float then it always reply NotImplemented.

In [87]:
a.__mod__(b)

12.0

In [88]:
a = 10
b = 3

a.__mod__(b)  # modulus means a%b

1

In [89]:
a = 10
b = 2
a.__mod__(b)

0

In [90]:
a.__mul__(b) # Multipliction

20

In [91]:
a.__ne__(b) # not equal to

True

In [93]:
a = 10
b = 10
a.__ne__(b) # means not equal to

False

In [95]:
a.__neg__()  # Negative value

-10

In [96]:
a = - 10
a.__neg__()

10

In [102]:

# Python program to 
# demonstrate __new__
  
# don't forget the object specified as base
class A(object):
    def __new__(cls):
        print("Creating instance")
        return super(A, cls).__new__(cls)
    
    def __init__(self):
        print("Init is called")

A()

Creating instance
Init is called

In [103]:
a = A()

Creating instance
Init is called

In [110]:
a.__new__(A)

Creating instance

In [111]:
a = 10 
b = 12
a.__or__(b) # bitwise OR operator

14

In [113]:
a.__pos__()

10

In [115]:
a.__pos__()

10

In [117]:
a = -12.01

a.__pos__()

-12.01

In [118]:
a.__pow__(2)

144.24009999999998

In [119]:
a = 23
a.__pow__(2)

529

In [121]:
a = 12
b = 13
a.__radd__(b)

25

In [122]:
a = 12
b = -13
a.__radd__(b)

-1

In [124]:
a.__rand__(b)

0

In [127]:
a = 1
b = 20
a.__rand__(b)

0