#### Guess the output

In [1]:
str1 = "AaBbCcDdEeFf"
var = "c"

while var in str1:
    str1 = str1[:-1]
    print(var, end = " ")

c c c c c c c

In [1]:
### 

fruits = ['apple', 'banana', 'mango', 'watermelon']

for fruit in fruits:
    fruit = fruit.capitalize()
    if fruit == 'Mango':
        break
else:
    print("Hello there")

As we can see that within for loop the if condition is satisfied and when it is satisfied the 'break' statement will execute and control will be come out from the for loop and it will come to the else part of the for loop but the control come out due to 'break' statement that is why else part also will not be executed so there will be no output.

In [2]:
x = ["B", "C", "A"]

x.extend(["X", "Y"])

x.reverse()

x.sort()

print(x)

['A', 'B', 'C', 'X', 'Y']

In [3]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'b':20, 'd':4}

d2.update(d1)

print(d2['b'])

2

In [4]:
max("12345")

'5'

In [5]:
max({'a':1, 'b':6, 'c':3})

'c'

In [6]:
max("abAb")

'b'

In [7]:
l1 = [1,2,3]

l1.extend(4)
print(l1)

TypeError: 'int' object is not iterable

In [10]:
l1 = [1,2,3]

l1.extend((4))
print(l1)

TypeError: 'int' object is not iterable

In [9]:
l1 = [1,2,3]

l1.extend((4,))
print(l1)

# note (4) will be treated as integer and if we add comma ',' along with 4 then it will be
#                                                             treated as tuple.

[1, 2, 3, 4]

In [12]:
l1 = [1,2,3]

l1.extend('4')
print(l1)

[1, 2, 3, '4']

In [13]:
strg = "SMARTQ"
strg[-2:-4]

''

In [14]:
a = 'hello world'

b = a.split('l')

print(b) # wherever ll it will convert second l into ""

['he', '', 'o wor', 'd']

In [15]:
i = 0 
while i<3:
    print(i)
    i+=1
    break
    
else:
    print(0)

0

In [16]:
def writer():
    title = "Sir"
    name = (lambda x:title + " " + x)
    return name

who = writer()

who("Auther")

'Sir Auther'

In [17]:
mylist = [1,5,5,5,5,1]

max_of_list= mylist[0]
indexOfmax = 0

for i in range(1, len(mylist)):
    if mylist[i]> max_of_list:
        
        max_of_list = mylist[i]
        indexofmax = i
        
print(indexofmax)
print(max_of_list)

1
5

In [19]:
var1=90
def example1():
    
    print(var1)
    var1=100
    print("Value of var1:",var1)
    
example1()

# we can access and print global variable inside local space but can't modify it.

# we can modify it when we make it global in local scope or by passing as arguments

UnboundLocalError: local variable 'var1' referenced before assignment

In [24]:
var1=90
def example1(var1):
    
    print(var1)
    var1=100
    print("Value of var1:",var1)
    
example1(var1)

90
Value of var1: 100

In [25]:
var1=90
def example1():
    global var1
    print(var1)
    var1=100
    print("Value of var1:",var1)
    
example1()

90
Value of var1: 100

In [32]:
x = (i for i in range(3))

for i in x:
    print(i)
    
for i in x:
    print(i)
    
# make it clear that the output is actually from which loop we will use print() some text before
# printing these loops in next programs

0
1
2

In [33]:
x = (i for i in range(3))
print("Output from x first time: ")
for i in x:
    print(i)
print()
print("Output from x second time: ")
for i in x:
    print(i)

Output from x first time:
0
1
2

Output from x second time:

In [35]:
x = (i for i in range(3))
y = x
print("Output from x: ")
for i in x:
    print(i)
print()
print("Output from y:")
for i in y:
    print(i)
    
# as we can see by we took 'y' and have same value and id from x so it will be treated as same a x
# in tuple only this happens if here would be a list then it print both for loop

Output from x:
0
1
2

Output from y:

In [36]:
print("id of x:" , id(x))
print("id of y:" , id(y))

id of x: 2101422754496
id of y: 2101422754496

As we can see that they share the same it that is why we got output only once

In [38]:
x = [i for i in range(3)]
y = x[:]
print("Output from x: ")
for i in x:
    print(i)
print()
print("Output from y:")
for i in y:
    print(i)

Output from x:
0
1
2

Output from y:
0
1
2

In [39]:
print("id of x:" , id(x))
print("id of y:" , id(y))

id of x: 2101423540800
id of y: 2101423539904

this time they have different id and that is why we got the output.

In [40]:
x = 10
print(x)
print(x)

10
10

In [1]:
x = [i for i in range(3)]
y = x
print("Output from x: ")
for i in x:
    print(i)
print()
print("Output from y:")
for i in y:
    print(i)

Output from x:
0
1
2

Output from y:
0
1
2

In [2]:
print("id of x:" , id(x))
print("id of y:" , id(y))

id of x: 2308980963328
id of y: 2308980963328

In [3]:
confusion = {}
confusion[1] = 1
confusion["1"] = 2
confusion[1.0] = 4
confusion       # As we can see that int 1 hasn't asign while float 1.0 has been asigned 

# need to care about output order of the sentence , float value has been last and came fist 

# dictionary can't hold the same key means it holds only unique key

{1: 4, '1': 2}

In [5]:
confusion = {}
confusion[3] = 1
confusion["1"] = 2
confusion[1.0] = 4
confusion  

# now by changing the 1 with 3 now there is all different different key ana that is why all key 
# value has been assigned

{3: 1, '1': 2, 1.0: 4}

In [6]:
def f(a, L=[]): # in default argument list will be instantiate only once and and further it will 
    L.append(a)    # be appended.
    
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [7]:
min("Hello World")

' '

In [8]:
str1 = "Hello"
str2 = "World"
str3 = str1.__add__(str2)

print(str3)

HelloWorld

In [12]:
a = 12
b = 5
c = a.__sub__(b)

print(c)

7