#### List 

*  Mutable     ----- we can edit the list element 

*  Linear data Structure  --- elements arranged in linear 

*  Mixed type Elements   ---- int, float,etc

*  Variable Length        ------ add, length delete length

*  Zero based indexing      ------ will give some number to go the value of list , start with 0

In [1]:
# list 

animals = []
# this is an empty list

In [2]:
animals

[]

In [3]:
animals = ["dog", "cat", "monkey"]

In [4]:
animals

['dog', 'cat', 'monkey']

In [5]:
animals[0]

'dog'

In [6]:
animals[2]

'monkey'

In [7]:
# list can contain multi type value 
list1 = [10, 22.4, "hello ", 54]

In [8]:
list1

[10, 22.4, 'hello ', 54]

In [9]:
list1[2]

'hello '

In [10]:
# nestet list 
list2 = [[10, 20], [30, 40]]

In [11]:
list2

[[10, 20], [30, 40]]

In [12]:
list2[0]

[10, 20]

In [15]:
# first value of first list
list2 = [[10, 20], [30, 40]]
list2[0][0]

10

In [16]:
list2[1][1]

40

In [17]:
list2[1]

[30, 40]

In [18]:
list2[1][0]

30

In [19]:
for num in [10, 20, 30, 40]:
    print(num)

10
20
30
40

#### List Operations

*  Replace

*  Delete

*  Insert

*  Append

*  Sort

*  Reverse

In [21]:
# Replace 

list1 = [10, 20, 40, 5.7]

list1[2] = 3.7 # here we want to replace 40 with 3.7

list1

[10, 20, 3.7, 5.7]

In [22]:
# Insert

list1.insert(2, "Hello") # in list1 we want to insert "Hello" at index 2 
list1

[10, 20, 'Hello', 3.7, 5.7]

In [23]:
# Sort - use this operation when list have only similar type value like , either number , or string.

# if list contain num and string together then sort will not work for the list.

animals = ["monkey", "dog", "cat", "lion"]

animals.sort()

animals

['cat', 'dog', 'lion', 'monkey']

In [25]:
animals = ["monkey", "dog", "cat", "lion"]

stored = animals.sort()
print(stored)

None

**Note:** sort() method modify the original list neither return a new list nor any value,
that's why we got None as a output by print(stored).

In [26]:
list2 = [10, 2.3, 30, 4]
list2.sort()
list2

[2.3, 4, 10, 30]

In [27]:
# Delete 
del list2[1]
list2

[2.3, 10, 30]

In [28]:
list2

[2.3, 10, 30]

In [29]:
# deleting whole list 
del list2

In [30]:
list2

NameError: name 'list2' is not defined

In [33]:
# append
animals = ["monkey", "dog", "cat", "lion"]
animals

['monkey', 'dog', 'cat', 'lion']

In [34]:
animals.append('donkey')
animals

['monkey', 'dog', 'cat', 'lion', 'donkey']

In [35]:
animals = ["monkey", "dog", "cat", "lion"]

stored = animals.append("elephant")
print(animals)
print(stored)

['monkey', 'dog', 'cat', 'lion', 'elephant']
None

**Note:**  `append()` method modify the original list neither return a new list nor any value,
that's why we got `None` as a output by print(stored).

In [43]:
# reverse
animals = ["monkey", "dog", "cat", "lion"]
animals.reverse()

In [44]:
animals

['lion', 'cat', 'dog', 'monkey']

In [45]:
animals = ["monkey", "dog", "cat", "lion"]
stored = animals.reverse()
print(animals)
print(stored)

['lion', 'cat', 'dog', 'monkey']
None

**Note:** `reverse()` method only  modify the original list neither return a new list nor any value,
that's why we got` None` as a output by print(stored).

#### reversed method
The `reversed()` function returns the reversed iterator of the given sequence.

In [47]:
# for string
seq_string = 'Python'
print(list(reversed(seq_string)))

['n', 'o', 'h', 't', 'y', 'P']

In [49]:
seq_string = 'Python'
print(reversed(seq_string)) # we need to cast it into list , tuple like that.

<reversed object at 0x000001E56523EAF0>

In [50]:
seq_string = 'Python'
print(tuple(reversed(seq_string)))

('n', 'o', 'h', 't', 'y', 'P')

In [51]:
# for tuple
seq_tuple = ('P', 'y', 't', 'h', 'o', 'n')
print(list(reversed(seq_tuple)))

['n', 'o', 'h', 't', 'y', 'P']

In [52]:
# for range
seq_range = range(5, 9)
print(list(reversed(seq_range)))

[8, 7, 6, 5]

In [53]:
# for list
seq_list = [1, 2, 4, 3, 5]
print(list(reversed(seq_list)))

[5, 3, 4, 2, 1]

In [54]:
seq_list = [1, 2, 4, 3, 5]
stored = reversed(seq_list) # it return reverse iterator object.
print(stored)

<list_reverseiterator object at 0x000001E567200F40>

In [55]:
seq_list = [1, 2, 4, 3, 5]
stored = list(reversed(seq_list))
print(stored)

[5, 3, 4, 2, 1]

In [56]:
fruits = ["apple", "banana"]

print(fruits)

fruits[1] = "grapes"

print(fruits)

['apple', 'banana']
['apple', 'grapes']

In [57]:
fruits

['apple', 'grapes']

In [58]:
fruits.insert(1, "orange")
fruits

['apple', 'orange', 'grapes']

In [59]:
fruits.sort()

In [60]:
fruits

['apple', 'grapes', 'orange']

In [61]:
del fruits[0]
fruits

['grapes', 'orange']

In [62]:
fruits.append("papaya")
fruits

['grapes', 'orange', 'papaya']

In [63]:
fruits.reverse()
fruits

['papaya', 'orange', 'grapes']

### Tupple

In [64]:
animals = ("dog", "cat", "monkey")

animals

('dog', 'cat', 'monkey')

In [65]:
animals[0]

'dog'

In [66]:
tuple1 = ((10, 2.3), (3, 4.5))

tuple1

((10, 2.3), (3, 4.5))

In [67]:
tuple1[0]

(10, 2.3)

In [68]:
tuple1[0][0]

10

In [69]:
# empty tuple 

num = ()
num

()

In [71]:
# immutable 
tuple1 = ((10, 2.3), (3, 4.5))
tuple1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [72]:
tuple1

((10, 2.3), (3, 4.5))

In [73]:
tuple1[0][0] = 2

TypeError: 'tuple' object does not support item assignment

#### Sequences

* Length 

* Slice

* Index

* Concatenation

* Max value

* Select

* Count

* Membership

* Min Value

* Sum

In [74]:
name = "ankit"
list1 = [10, 20, 30, 3.4, 5, 6]
tuple1 = (10, 2.3, 4.5, 5)

len(name)

5

In [75]:
len(list1)

6

In [76]:
len(tuple1)

4

In [77]:
name

'ankit'

In [78]:
name[0]

'a'

In [79]:
list1[2]

30

In [80]:
tuple1[2]

4.5

In [81]:
name = "ankit"
name[1:2]

'n'

In [82]:
list1[1:]

[20, 30, 3.4, 5, 6]

In [83]:
tuple1

(10, 2.3, 4.5, 5)

In [84]:
tuple1[2:]

(4.5, 5)

In [85]:
name.count("k")

1

In [86]:
name = "hello wolrd"
name.count("l")

3

In [87]:
tuple1

(10, 2.3, 4.5, 5)

In [88]:
tuple1.count(5)

1

In [89]:
name

'hello wolrd'

In [90]:
name.index("e")

1

In [91]:
name.index("l")

2

In [92]:
name = "ankit"

"n" in name

True

In [93]:
## conatenation
name1 = "Hello"
name2 = "World"

name1 + name2

'HelloWorld'

In [94]:
list1

[10, 20, 30, 3.4, 5, 6]

In [95]:
list2 = [23, "hello"]

list1 + list2

[10, 20, 30, 3.4, 5, 6, 23, 'hello']

In [96]:
# tuple concatenation

tuple1

(10, 2.3, 4.5, 5)

In [97]:
tuple2 = ("Hello", 34, 4)

tuple1 + tuple2

(10, 2.3, 4.5, 5, 'Hello', 34, 4)

In [98]:
name

'ankit'

In [99]:
max(name)

't'

In [100]:
min(name)

'a'

In [101]:
tuple1

(10, 2.3, 4.5, 5)

In [102]:
sum(tuple1)

21.8

In [103]:
# note in Cancatenation 
# only list can add list , tuple can add tuple

list1 + tuple1

TypeError: can only concatenate list (not "tuple") to list

In [104]:
name + list1

TypeError: can only concatenate str (not "list") to str

In [105]:
# list assignment and copying

list1 = [10, 2, 3.4, 5.1, 24]

In [106]:
list2 = list1

In [107]:
list2

[10, 2, 3.4, 5.1, 24]

In [108]:
list1[0] = "apple"

In [109]:
list1

['apple', 2, 3.4, 5.1, 24]

In [110]:
list2

['apple', 2, 3.4, 5.1, 24]

In [111]:
# as we can see we made change in one list but it update into another one as well 

# so to avoid this we need to use copying

In [112]:
## using list constructer 

list3 = list(list1)

In [113]:
list3

['apple', 2, 3.4, 5.1, 24]

In [114]:
list1[0] = 0
list1

[0, 2, 3.4, 5.1, 24]

In [115]:
list3

['apple', 2, 3.4, 5.1, 24]

As we can see by copying it didn't affect first one

In [116]:
# generate list by statement 

result = [x**2 for x in [1,2,3]]
result

[1, 4, 9]

#### Negative inex in list

In [117]:

list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [118]:
list1[-1]

4

In [119]:
list1[-3]

2

In [120]:
list1[::-1]

[4, 3, 2, 1]

In [121]:
list1

[1, 2, 3, 4]

In [122]:
list1[-3:-1]

[2, 3]

In [123]:
list1[-1:-3]

[]

In [124]:
# we can insert value by negative index as well

list1

[1, 2, 3, 4]

In [125]:
list1.insert(-3, 6)
list1

[1, 6, 2, 3, 4]

as we can see negative index works for inserting

In [126]:
list1

[1, 6, 2, 3, 4]

In [127]:
del list1[-3]

In [128]:
list1

[1, 6, 3, 4]

as we can see that del work for negative index as well

#### Range

use this when we need sequence of integer values.

In [130]:
range(1, 11)

range(1, 11)

In [131]:
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

Thank You 👍🙏