#### Range and XRange


`In Python 2.x. range fuction generate list of number while xrange function work as generator fuction 
which generate range of number by iterable object and XRange function take less memory than the range fuction `



`In Python 3.x. xrange fuction know as range fuction.`
*  Python 2.x. range function in Python 3.x. work as a xrange fuction means it will not generate list of numbers it works as generator functions

`Syntax :
 range(start, end, step)`
 
**`Note`** - `End Value must be gerater than start value otherwise you will get empty list.`


**Note:**  `XRange` has been deprecated as of `Python 3.x` now  `range` does exactly the same as what `xrange` used to do in `Python 2.x` since it was way better to use `xrange()` than the original range() function in Python 2.x.

*  range take more memory space than xrange 

*  we can check memory space taken 
`import sys
sys.getsizeof(range(xyz))`

In [20]:
type(range(12))

range

In [1]:
range(1,6)

range(1, 6)

In [2]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [3]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [5]:
set(range(1,10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
dict(range(1, 10))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [7]:
tuple(range(1, 10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
list(range(8,0,-1))

[8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
list(range(-8, 0))

[-8, -7, -6, -5, -4, -3, -2, -1]

In [12]:
list(range(-5,-1))

[-5, -4, -3, -2]

In [13]:
list(range(-20, 0, 3))

[-20, -17, -14, -11, -8, -5, -2]

In [15]:
list(range(-20, 0, -1))

[]

In [16]:
for i in xrange(10):
    print(i)

NameError: name 'xrange' is not defined

In [17]:
import sys
print(sys.getsizeof(range(100)))

48

In [18]:
### we can do slicing of range fuctions 
a = range(1,6)
a[2:5]

range(3, 6)

In [19]:
a = list(range(1,6))
a[2:5]

[3, 4, 5]

### Append and Extend methods
* these are list methods

*  `append` method is use to add an element at the end of the list.

*  `extend` method is use to append all the iterable element in to the list.

*  `iterable` any thing that can be loop over

In [27]:
a = [1,2,3,4]
a.append("hello") # in append string is treated as 'single' element 
a

[1, 2, 3, 4, 'hello']

In [28]:
a

[1, 2, 3, 4, 'hello']

In [30]:
a = [1, 2, 3, 4, 'hello']
a.extend("David") # here string "David" will be treated as iterables
a                 # means each letter in string will be treated as iterable element

[1, 2, 3, 4, 'hello', 'D', 'a', 'v', 'i', 'd']

In [32]:
# note - after append function the length 'len' of a list increase by one 
#        but after extend method length of the list depend of how many elements in the iterable

a = [1,2,3,4]
a.append("hello")
len(a)

5

In [35]:
a = [1, 2, 3, 4, 'hello']
a.extend("David")
print(a)
print()
print(len(a))

[1, 2, 3, 4, 'hello', 'D', 'a', 'v', 'i', 'd']

10

In [36]:
# note - in extend meth we can add only iterable means list, tuple, dict, and set

a = [1, 2, 3, 4, 'hello']
a.extend(10)

# TypeError: 'int' object is not iterable

TypeError: 'int' object is not iterable

In [37]:
a = [1, 2, 3, 4, 'hello']
a.extend((10,)) # here 10 is a tuple element

a

[1, 2, 3, 4, 'hello', 10]

In [38]:
a = [1, 2, 3, 4, 'hello']
a.extend({1:"apple", 2:"banana"})
a

[1, 2, 3, 4, 'hello', 1, 2]

In [39]:
a = [1, 2, 3, 4, 'hello']
b = {1:"apple", 2:"banana"}
a.extend(b.values())
a

[1, 2, 3, 4, 'hello', 'apple', 'banana']

In [40]:
a = [1, 2, 3, 4, 'hello']
b = {1:"apple", 2:"banana"}
a.extend(b.items())
a

[1, 2, 3, 4, 'hello', (1, 'apple'), (2, 'banana')]

In [41]:
a = [1, 2, 3, 4, 'hello']
b = {1:"apple", 2:"banana"}
a.extend(b.keys())
a

[1, 2, 3, 4, 'hello', 1, 2]

In [42]:
a = [1, 2, 3, 4, 'hello']
b = {5,6,7}
a.extend(b)
a

[1, 2, 3, 4, 'hello', 5, 6, 7]

#### Input and Raw_input


In Python 2.x. there is two input method 

`* raw_input()  # take input and treat as string value `

`* input()     # take input from user and evaluate that input if it is int then it will treat as int 
              if input is list it will be treated as list.`
              
              
means in Python 2.x `eval(raw_input) = input()`


`* Python 3.x . behave same as raw input in python 2.x. `


means `input() = raw_input() in python 2.x`

In [43]:
a = input()
type(a)

5

str

In [44]:
# for integer
a = int(input())
type(a)

5

int

In [45]:
# we van use eval() 
a = eval(input())
type(a)

2.5

float

In [46]:
a = eval(input())
type(a)

3

int

In [48]:
# when we use eval function then to enter the string vlue we need to enter it into "" double quote
a = eval(input())
type(a)

"hello"

str

In [49]:
a = eval(input()) # it will treat binary representation as int
type(a)

0b1001

int