### Pattern Program

In [8]:
n=int(input("Please enter the number of row: "))

for i in range(1 , n+1):
    for j in range(1, i + 1):
        print("*", end = " ") # in this end = " " hold the control in same line 
        
    print()  # this is for new line

Please enter the number of row: 5
*
* *
* * *
* * * *
* * * * *

#### Using While Loop

In [1]:
## using While loop 

num = int(input("Enter the number of rows:"))
row = 0

while row<num:
    star = row + 1
    while star>0:
        print("*", end = " ")
        star = star - 1
    row = row + 1
    print() # print new line

Enter the number of rows:5
*
* *
* * *
* * * *
* * * * *

In [9]:
# odd numbers row pattern

num = int(input("Please enter the row number: "))
k = 1

for i in range(1, num+1):
    for j in range(1, k+1):
        print("*", end = " ")
        
    k = k + 2
    print()

Please enter the row number: 5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [11]:
### Star Pattern (triangle or pyramid)

num = int(input("Please enter the number of rows: "))

for i in range(0, num):
    for j in range(0, num-i-1):
        print(end = " ")
    for j in range(0, 2*i+1): # we change it 2 times
        print("*", end = "") # we change " " space to "" no space 
    print()

Please enter the number of rows: 5
    *
   ***
  *****
 *******
*********

In [12]:
# we can print this using the single for loop

def pyramid(rows):
    for i in range(rows):
        print(" "*(rows-i-1) + "*"*(2*i+1))
        
rows = int(input("Please enter the rows: "))
pyramid(rows)

Please enter the rows: 6
     *
    ***
   *****
  *******
 *********
***********

#### Using While Loop

In [48]:
### using the while loop

num = int(input("enter the number of rows: "))
row = 0

while row<num:
    space = num - row -1
    while space >0:  # condition for space
        print(end = " ")
        space = space - 1 
    star = row + 1
    while star>0:
        print("*", end = " ")
        star = star - 1
        
    print()  # for new line 
    row = row + 1

enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
### inverted pyramid

num = int(input("Please enter the numberof rows: "))
print()
for i in range(num, 0, -1):
    for j in range(0, num-i):
        print(end = " ")
    for j in range(0, i):
        print("*", end = " ")
        
    print()

Please enter the numberof rows: 5

* * * * *
 * * * *
  * * *
   * *
    *

In [14]:
def pyramid(rows):
    for i in range(rows):
        print(" "*(i) + " *"*(rows-i)) # we can modify many way this is one of them  
                       # space should be manage 
rows = int(input("Please enter the rows: "))
pyramid(rows)

Please enter the rows: 5
 * * * * *
  * * * *
   * * *
    * *
     *

In [15]:
### combining two inverse pyramid

def pyramid(rows):
    for i in range(rows):
        print(" "*(rows-i-1) + "* "*(i+1))
    for j in range(rows-1, 0, -1):
        print(" "*(rows-j) + "* "*j)
        
rows = int(input("Please enyer the number of rows: "))
pyramid(rows)

Please enyer the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [2]:
def pyramid(num):
    
    for i in range(num):
        print(" "*(num-i-1) + "* "*(i+1))
    for j in range(num-1, 0 , -1):
        print(" "*(num-j) + "* "*j)
        
num = int(input("enter num : "))
pyramid(num)

enter num : 4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [16]:
# inverted triangle shape 

num = int(input("Please enter the number of rows: "))
print()
for i in range(num, 0, -1):
    for j in range(0, i):
        print("*", end = " ")
    print()

Please enter the number of rows: 5

* * * * *
* * * *
* * *
* *
*

In [2]:
# here we will use for loop for row and column 

string = input("please enter the string: ")
print()
length = len(string)

for row in range(length):
    for col in range(row+1):  # column  = range(row + 1)
        print(string[col], end = "") # here we taken empty string because we need next 
                                     # letter immediate after previous one
    print()  # this is for first for loop to new line

please enter the string: Python

P
Py
Pyt
Pyth
Pytho
Python

In [4]:
## if we need space in letters

string = input("please enter the string: ")
print()
length = len(string)

for row in range(length):
    for col in range(row+1):  # column  = range(row + 1)
        print(string[col], end = " ")
        # we take " " whitespace for space between ltter and hold control
        
    print()

please enter the string: Python

P
P y
P y t
P y t h
P y t h o
P y t h o n

#### Printing Stars in Hollow Right Triangle (inverted)

In [5]:
n = int(input("PLease enter the number of rows: "))
# want star in row and columns

for row in range(0, n):
    for col in range(0, n): 
        if row == 0 or col == n-1 or row == col:   #this is condition for printing * in 0th row 
                 print("*", end = "")
        else: 
             print(end =" ") 
    print() # this is for new line       print() in python 3.x and in python 2.x 'print' is statement

# and 4rth col(n-1) for digonal row == coland  'or' logical value have sort circuit evalution means 
# if one condition is true then it will not check other condtion wheter it is True , so by this 
# it will manage printing repeation of stars.

PLease enter the number of rows: 10
**********
 *       *
  *      *
   *     *
    *    *
     *   *
      *  *
       * *
        **
         *

#### Printing Stars in Hollow Right Triangle

In [7]:
n = int(input("enter the number of rows: "))

for row in range(n):
    for col in range(n):
        if col == 0 or row == (n-1) or row == col:  # this condition for "*"
            print("*", end = "")
        else:
            print(end = " ") # we use end to hold the control in same line to print sapce
    
            
    print()  # for control to the new line

enter the number of rows: 10
*
**
* *
*  *
*   *
*    *
*     *
*      *
*       *
**********

#### Printing Stars in Hollow Equilateral Triangle

In [20]:
n = int(input("Enter the number of rows: "))

for row in range(1, n + 1):
    for col in range(1, 2 * n):
        if row == n or row+col == n+1 or col - row == n-1:
            print("*", end = "")
        else:
            print(end = " ")
    print()

Enter the number of rows: 6
     *
    * *
   *   *
  *     *
 *       *
***********

In [22]:
# for equal no. of stars in each side 

n = int(input("enter the number of rows: "))
k = 2

for row in range(1, n+1):
    for col in range(1, 2*n):
        if row+col== n+1 or col-row== n-1:
            print("*", end = "")
        elif row == n and col !=k:
            print("*", end = "")
            k = k+2
        else:
            print(end = " ")
            
    print()

enter the number of rows: 5
    *
   * *
  *   *
 *     *
* * * * *

#### Printing Stars in Hollow Diamond shape

In [23]:
for row in range(5):
    for col in range(5):
        if row + col == 2 or col - row == 2 or row -col == 2 or row + col == 6:
            print("*", end= "")
        else:
            print(end = " ")
            
    print() # for new line

  *
 * *
*   *
 * *
  *

In [24]:
# suppose we want to take input from an user
# n = int(input("Enter the number of rows: "))

# for 7 rows
for row in range(7):
    for col in range(7):
        if row + col == 3 or col - row == 3 or row -col == 3 or row + col == 9:
            print("*", end= "")
        else:
            print(end = " ")
            
    print() # for new line

   *
  * *
 *   *
*     *
 *   *
  * *
   *

#### Printing Names Using Stars "*"

In [42]:
# only for particular name 

str1 = "NO"

print_N = [[" " for i in range(6)] for j in range(6)]
print_O = [[" " for i in range(6)] for j in range(6)]

# code for N

for row in range(6):
    for col in range(6):
        if col == 0 or col == 5 or row == col:
            print_N[row][col] = "*" # means if condition is satisfied it will assign '*' to whitespace
            
# code for O
for row in range(6):
    for col in range(6):
        if ((row==0 or row==5) and (col!=0 and col!=5)) or ((col==0 or col == 5) and (row!=0 and row!=5)):
            print_O[row][col] = "*"
            
for i in range(6):
    for j in range(6):
        print(print_N[i][j], end = " ")
        
    print(end = "  ")
    
    for j in range(6):
        print(print_O[i][j], end = " ")
    print()

*         *     * * * *
* *       *   *         *
*   *     *   *         *
*     *   *   *         *
*       * *   *         *
*         *     * * * *

In [49]:
# need to write program A to Z letter  and print any name enter by user

#### Printing the number in right Tringle Shape

In [51]:
n = int(input("please enter the number of rows: "))
print()
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print() # this is for new line

please enter the number of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [52]:
# for printing same number in as row number
n = int(input("please enter the number of rows: "))
print()
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(i, end = " ")
    print() # this is for new line

please enter the number of rows: 6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

#### Printing Numbers in Inverted Right Triangle Shape

In [53]:
n = int(input("Enter the number of rows: "))

for row in range(n, 0 , -1):
    for col in range(1, row+1):
        print(col, end = " ")
        
    print() # for new line

Enter the number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [54]:
# for same numbers in a row 

n = int(input("Enter the number of rows: "))

for row in range(n, 0 , -1):
    for col in range(1, row+1):
        print(row, end = " ")
        
    print() # for new line

Enter the number of rows: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

#### Printing Floyd's Triangle (number's right triangles)

In [57]:
n = int(input("Please enter the number of rows: "))

num = 1
for row in range(1, n+1):
    
    for col in range(1, row+1):
        
        print(num, end = " ")
        num = num + 1
    print()

Please enter the number of rows: 6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

#### Printing Number in Row and Column

In [64]:
num = int(input("Enter the number of rows: "))
for row in range(num):
    val = row + 1
    dec = num - 1
    for col in range(row+1):
        
        print(val, end = " ")
        val = val+dec
        dec = dec - 1
        
    print()

Enter the number of rows: 5
1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [65]:
# adjust with format 
num = int(input("Enter the number of rows: "))
for row in range(num):
    val = row + 1
    dec = num - 1
    for col in range(row+1):
        
        print(format(val, "<4"), end = " ")
        val = val+dec
        dec = dec - 1
        
    print()

Enter the number of rows: 6
1
2    7
3    8    12
4    9    13   16
5    10   14   17   19
6    11   15   18   20   21

In [74]:
print(format("hello", ">10"))

     hello

In [67]:
print(format("hello", "*<10"))

hello*****

In [68]:
print(format("hello", "*>10"))

*****hello

In [69]:
print(format("hello", "*^10"))

**hello***

In [70]:
print(format("hello", "-<10"))

hello-----

#### Printing Pattern in Right triangle form

In [79]:
# like up down up down sequence of number series method 

n = int(input("Enter the number of rows: "))

for i in  range(n):
    
    for j in range(i + 1):
        x = 0
        for k in range(j):
            x = x + n - k
            
        if j%2 == 0:
            print(x+i-j+1, end = " ")
                    
        else:
            print(x+n-i, end = " ")
        
    print()

Enter the number of rows: 5
1
2 9
3 8 10
4 7 11 14
5 6 12 13 15

In [78]:
# adjust with format 
n = int(input("Enter the number of rows: "))

for i in  range(n):
    
    for j in range(i + 1):
        x = 0
        for k in range(j):
            x = x + n - k
            
        if j%2 == 0:
            print(format(x+i-j+1, "<4"), end = " ")
                    
        else:
            print(format(x+n-i, "<4"), end = " ")
        
    print()

Enter the number of rows: 5
1
2    9
3    8    10
4    7    11   14
5    6    12   13   15

#### printing Star in Heart Shape (hallow)

In [93]:
for row in range(6):
    for col in range(7):
        if (row == 0 and col%3!= 0) or (row == 1 and col%3 == 0) or (row - col == 2) or (row+col == 8):
            print("*", end = "")
        else:
            print( end = " ")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

#### Printing Star in Heart Shape

In [103]:
for i in range(4):
    for j in range(4-i-1):
        print(" ", end = "")
    for j in range(i+1):
        print("* ", end = "")
        
    
    for j in range(2*(4-i-1)): # for need to space
        print(" ", end = "")
    for j in range(i+1):
        print("* ", end = "")
        
    print()
    
for i in range(8, 0, -1):
    for j in range(8-i):
        print(" ", end = "")
    for j in range(i, 0, -1):
        print("* ", end = "")
    print()

   *       *
  * *     * *
 * * *   * * *
* * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [106]:
# take input from user (only even number)
num = int(input("Enter the number: "))
n = num//2

for i in range(n):
    for j in range(n-i-1):
        print(" ", end = "")
    for j in range(i+1):
        print("* ", end = "")
        
    
    for j in range(2*(n-i-1)): # for need to space
        print(" ", end = "")
    for j in range(i+1):
        print("* ", end = "")
        
    print()
    
for i in range(num, 0, -1):
    for j in range(num-i):
        print(" ", end = "")
    for j in range(i, 0, -1):
        print("* ", end = "")
    print()

Enter the number: 12
     *           *
    * *         * *
   * * *       * * *
  * * * *     * * * *
 * * * * *   * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
 * * * * * * * * * * *
  * * * * * * * * * *
   * * * * * * * * *
    * * * * * * * *
     * * * * * * *
      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [112]:
# # take input from user (even and  odd number)
num = int(input("Enter the number: "))
n = num//2

for i in range(n):
    for j in range(n-i-1):
        print(" ", end = "")
    for j in range(i+1):
        print("* ", end = "")
        
    if num%2 == 0:
        for j in range(2*(n-i-1)): 
            print(" ", end = "")
    else:
        for j in range(2*(n-i-1)+ 1): # extra space for odd num
            print(" ", end = "")
       
   
    for j in range(i+1):
        print("* ", end = "")
        
    print()
    
for i in range(num, 0, -1):
    for j in range(num-i):
        print(" ", end = "")
    for j in range(i, 0, -1):
        print("* ", end = "")
    print()

Enter the number: 16
       *               *
      * *             * *
     * * *           * * *
    * * * *         * * * *
   * * * * *       * * * * *
  * * * * * *     * * * * * *
 * * * * * * *   * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
   * * * * * * * * * * * * *
    * * * * * * * * * * * *
     * * * * * * * * * * *
      * * * * * * * * * *
       * * * * * * * * *
        * * * * * * * *
         * * * * * * *
          * * * * * *
           * * * * *
            * * * *
             * * *
              * *
               *

#### Printing Names in the center of the Heart

In [15]:
# note columns number must be greater than message length

num = int(input("Enter the number of column: "))
msg = input("Enter the message: ")
n = num//2
len_msg = len(msg)
for i in range(n):
    print(" "*(n-i-1) + "* "*(i+1), end = "")
#     for j in range(n-i-1):
#         print(" ", end = "")  These code written in one line above
#     for j in range(i+1):
#         print("* ", end = "")
        
    if num%2 == 0:
        for j in range(2*(n-i-1)): 
            print(" ", end = "")
    else:
        for j in range(2*(n-i-1)+ 1): # extra space for odd num
            print(" ", end = "")
       
   
    for j in range(i+1):
        print("* ", end = "")
        
    print()

# we need to check 4 condition for the length of column and meassge 
# if length and message -- (even,even),(even odd),(odd, even),(odd, odd)
if num%2== 0:  # this one for checking (even,even),(even odd)
    if len_msg%2 == 0:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*((num-1)//2 -2))
    else:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*((num-1)//2 -1))
        
else:    # this one for checking (odd, even),(odd, odd)
    if len_msg%2 == 0:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*((num-1)//2 -2))
    else:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*((num-1)//2 -1))
        
    
    
for i in range(num, 0, -1):
    print(" "*(num-i) + "* "*(i))
    
#     for j in range(num-i):
#         print(" ", end = "") These code written in one line above
#     for j in range(i, 0, -1):
#         print("* ", end = "")
    print()

Enter the number of column: 9
Enter the message: amuls
   *        *
  * *      * *
 * * *    * * *
* * * *  * * * *
* a m u l s * * *
* * * * * * * * *

 * * * * * * * *

  * * * * * * *

   * * * * * *

    * * * * *

     * * * *

      * * *

       * *

        *

In [39]:
# note columns number must be greater than message length

num = int(input("Enter the number of column: "))
msg = input("Enter the message: ")
n = num//2
len_msg = len(msg)
for i in range(n):
    print(" "*(n-i-1) + "* "*(i+1), end = "")
    if num%2 == 0:
        for j in range(2*(n-i-1)): 
            print(" ", end = "")
    else:
        for j in range(2*(n-i-1)+ 1): # extra space for odd num
            print(" ", end = "")
       
   
    for j in range(i+1):
        print("* ", end = "")
        
    print()

# we need to check 4 condition for the length of column and meassge 
# if length and message -- (even,even),(even odd),(odd, even),(odd, odd)
if num%2== 0:  # this one for checking (even,even),(even odd)
    if len_msg%2 == 0:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*(((num-1)//2)-2))
    else:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*(((num-1)//2)))
        
else:    # this one for checking (odd, even),(odd, odd)
    if len_msg%2 == 0:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*(((num-1)//2)+1))
    else:
        print("* "*((n-1)//2) + " ".join(msg) + " *"*(((num-1)//2)))
        
for i in range(num, 0, -1):
    print(" "*(num-i) + "* "*(i))

Enter the number of column: 10
Enter the message: helloo
    *         *
   * *       * *
  * * *     * * *
 * * * *   * * * *
* * * * * * * * * *
* * h e l l o o * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

#### Printing Stars "*" In Different Shapes

In [42]:
## for Square shape 

num = int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(num):
        print("*", end = " ")
    print()

Enter the number of rows: 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [44]:
## for Square shape 
# without nested for loop 
num = int(input("Enter the number of rows: "))
for i in range(num):
    print("* " *num)

Enter the number of rows: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [45]:
## for Triangle  shape (left opposite (in hind lamb))
# without nested for loop 

num = int(input("Enter the number of rows: "))
for i in range(1,num+1):
    print("* " *i)

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [51]:
## for Triangle  shape (right opposite)
# without nested for loop 

num = int(input("Enter the number of rows: "))
for i in range(1,num+1):
    print("  "*(num - i) + "* " *i) # note we used double space (num-i) times

Enter the number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [52]:
## Triangle shape

# without nested for loop 

num = int(input("Enter the number of rows: "))
for i in range(1,num+1):
    print(" "*(num - i) + "* " *i)

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [53]:
### for diamond forms

# without nested for loop 

num = int(input("Enter the number of rows: "))

for i in range(1,num+1):
    print(" "*(num - i) + "* " *i) ## this one is upper part of diamond shape

for i in range(num, 0, -1):
    print(" "*(num - i) + "* " *i) # Lower part of the diamond shape

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [55]:
### for diamond forms

# without nested for loop 

num = int(input("Enter the number of rows: "))

for i in range(1,num+1):
    print(" "*(num - i) + "* " *i) ## this one is upper part of diamond shape

for i in range(num-1, 0, -1): # to reduce extra row 
    print(" "*(num - i) + "* " *i) # Lower part of the diamond shape

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [57]:
### triangle shape
num = int(input("Enter the number of rows: "))
print()
for i in range(num, 0, -1): 
    print(" "*(num - i) + "* " *i)

Enter the number of rows: 5

* * * * *
 * * * *
  * * *
   * *
    *

In [58]:
### triangle shape
num = int(input("Enter the number of rows: "))
print()
for i in range(num, 0, -1): 
    print("  "*(num - i) + "* " *i) # used double space with (num-1)

Enter the number of rows: 5

* * * * *
  * * * *
    * * *
      * *
        *

In [59]:
### triangle shape
num = int(input("Enter the number of rows: "))
print()
for i in range(num, 0, -1): 
    print( "* " *i)

Enter the number of rows: 5

* * * * *
* * * *
* * *
* *
*

In [60]:
# Arrow pattern 
num = int(input("Enter the number of rows: "))

for i in range(1,num+1):
    print("* " *i) ## this one is upper part of arrow shape

for i in range(num, 0, -1):
    print("* " *i) # Lower part of the arrow shape

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [62]:
# Arrow pattern 
num = int(input("Enter the number of rows: "))

for i in range(1,num+1):
    print("* " *i) ## this one is upper part of arrow shape

for i in range(num-1, 0, -1): # to reduce extra column
    print("* " *i) # Lower part of the arrow shape

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Printing the Numbers in Pyramid shapes

In [65]:
num = int(input("Enter the number of rows: "))

for i in range(1, num+1):
    for j in range(1, num-i+1):
        print(" ", end="")
    for j in range(i, 0, -1):
        print(j, end="")
    for j in range(2, i+1):
        print(j, end= "")
    print()

Enter the number of rows: 5
    1
   212
  32123
 4321234
543212345

#### Print Number in Square Shape

In [67]:
num = int(input("Enter the number: "))

n_list = [0 for x in range(num)]
print(n_list)

Enter the number: 5
[0, 0, 0, 0, 0]

In [69]:
num = int(input("Enter the number: "))

n_list = [[0 for x in range(num)] for y in range(num)]
print(n_list)

Enter the number: 5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [70]:
num = int(input("Enter the number: "))

n_list = [[0 for x in range(num)] for y in range(num)] # making this as matrix 
for i in range(num):
    for j in range(num):
        print(n_list[i][j], end = "\t") # we want tab after printing one element
    print()

Enter the number: 5
0	0	0	0	0
0	0	0	0	0
0	0	0	0	0
0	0	0	0	0
0	0	0	0	0

In [77]:
# now we need to insert values in list

num = int(input("Enter the number: "))

n_list = [[0 for x in range(num)] for y in range(num)] # making this as matrix 

n = 1
low = 0
high = num - 1
count = int((num+1)/2)            # converted int to avoid fraction value
for i in range(count):
    
    for j in range(low, high+1):
        n_list[i][j]= n
        n= n+1
    for j in range(low+1, high+1):
        n_list[j][high]=n
        n = n+1
    for j in range(high-1, low-1,-1):  # index is decreasing 
        n_list[high][j] = n
        n = n+1
    for j in range(high-1, low, -1):
        n_list[j][low] = n
        n = n+1
    # to inside square we need to increment low and decrement in high    
    low = low + 1
    high = high - 1 


for i in range(num):
    for j in range(num):
        print(n_list[i][j], end = "\t") # we want tab after printing one element
    print()

Enter the number: 10
1	2	3	4	5	6	7	8	9	10
36	37	38	39	40	41	42	43	44	11
35	64	65	66	67	68	69	70	45	12
34	63	84	85	86	87	88	71	46	13
33	62	83	96	97	98	89	72	47	14
32	61	82	95	100	99	90	73	48	15
31	60	81	94	93	92	91	74	49	16
30	59	80	79	78	77	76	75	50	17
29	58	57	56	55	54	53	52	51	18
28	27	26	25	24	23	22	21	20	19