#### Functional Programming

Functional programming is a programming paradigm in which the primary method of computation is evaluation of functions. In this tutorial, you’ll explore functional programming in Python.

Functional programming typically plays a fairly small role in Python code. But it’s good to be familiar with it. At a minimum, you’ll probably encounter it from time to time when reading code written by others. You may even find situations where it’s advantageous to use Python’s functional programming capabilities in your own code.

In [1]:
def func():
    print("I am a function func()!")
    
    
func()

I am a function func()!

In [2]:
another_name = func # this create new reference to func()

In [3]:
another_name()

I am a function func()!

We can display a function to the console with print(), include it as an element in a composite data object like a `list`, or even use it as a `dictionary key`:

In [4]:
def func():
    print("I am a function func()!")

In [5]:
print("cat", func, 42)

cat <function func at 0x000002BDF7A80280> 42

In [6]:
objects = ["cat", func, 42]

objects[1]

In [7]:
# we can call this

objects[1]()

I am a function func()!

In [8]:
d = {"cat":1, func:2, 42:3}
 
d[func]

2

In this example, func() appears in all the same contexts as the values "cat" and 42, and the interpreter handles it just fine.

**Note:** 

`What you can or can’t do with any object in Python depends to some extent on context. There are some operations, for example, that work for certain object types but not for others.`

`You can add two integer objects or concatenate two string objects with the plus operator (+). But the plus operator isn’t defined for function objects.`

In [12]:
def inner():
    print("I am function inner()!")

    
    
def outer(function):
    function()
    
outer(inner)

I am function inner()!

* The call on line 9 passes inner() as an argument to outer().

* Within outer(), Python binds inner() to the function parameter function.

* outer() can then call inner() directly via function.

* This is known as function composition.


`Technical note:` Python provides a shortcut notation called a decorator to facilitate wrapping one function inside another.

In [13]:
animals = ["ferret", "vole", "dog", "gecko"]

sorted(animals)

['dog', 'ferret', 'gecko', 'vole']

In [14]:
# sorted() takes an optional key argument that specifies a callback function that can serve as 
# sorting key. SO, for example, you can sort by string length instead

animals = ["ferret", "vole", "dog", "gecko"]
sorted(animals, key = len)

['dog', 'vole', 'gecko', 'ferret']

sorted() can also take an optional argument that specifies sorting in reverse order. But you could manage the same thing by defining your own callback function that reverses the sense of len():

In [15]:
animals = ["ferret", "vole", "dog", "gecko"]

sorted(animals, key= len, reverse=True)

['ferret', 'gecko', 'vole', 'dog']

In [16]:
# now by our own callback function 
animals = ["ferret", "vole", "dog", "gecko"]

def reverse_len(s):
    
    return -len(s)

sorted(animals, key = reverse_len)

['ferret', 'gecko', 'vole', 'dog']

In [17]:
def outer():
    def inner():
        print("I am function inner()!")
        
    # Function outer() returns function inner()
    return inner

In [18]:
function = outer()
function

In [19]:
function()

I am function inner()!

In [20]:
outer

In [21]:
outer()

In [22]:
outer()()

I am function inner()!

In [1]:
def outer():
    def inner():
        print("I am function inner()!")
    
    return inner # here we just pass a reference

In [2]:
outer()

In [3]:
outer()()

I am function inner()!

In [4]:
def outer():
    def inner():
        print("I am function inner()!")
    
    return inner() # here we just pass full function

In [5]:
outer() # this time we got inner function out put because we had returned complete innner function
        # to the outer function

I am function inner()!

#### Defining an Anonymous Function With lambda
Functional programming is all about calling functions and passing them around, so it naturally involves defining a lot of functions. You can always define a function in the usual way, using the def keyword as you have seen in previous tutorials in this series.

In [23]:
lambda s: s[::-1]

In [24]:
callable(lambda s: s[:: -1])

True

In [25]:
 reverse = lambda s: s[::-1]

In [26]:
reverse("I am a string")

'gnirts a ma I'

In [6]:
(lambda s: s[::-1])("I am a string")

'gnirts a ma I'

In [7]:
(lambda x1, x2, x3: (x1 + x2 + x3) / 3)(9, 6, 6)

7.0

In [8]:
(lambda x1, x2, x3: (x1 + x2 + x3) / 3)(1.4, 1.1, 0.5)

1.0

In [31]:
animals = ["ferret", "vole", "dog", "gecko"]

In [32]:
def reverse_len(s):
    
    return -len(s)

In [33]:
sorted(animals, key=reverse_len)

['ferret', 'gecko', 'vole', 'dog']

In [34]:
forty_two_producer = lambda: 42

In [35]:
forty_two_producer()

42

In [36]:
def func(x):
    
    return x, x ** 2, x ** 3

In [37]:
func(3)

(3, 9, 27)

This implicit tuple packing doesn’t work with an anonymous lambda function:

In [9]:
(lambda x: x, x**2, x**3)(3)

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\ankit.shukla\AppData\Local\Temp\2\ipykernel_8028\2016485281.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x: x, x**2, x**3)(3)
C:\Users\ankit.shukla\AppData\Local\Temp\2\ipykernel_8028\2016485281.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x: x, x**2, x**3)(3)
C:\Users\ankit.shukla\AppData\Local\Temp\2\ipykernel_8028\2016485281.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x: x, x**2, x**3)(3)
C:\Users\ankit.shukla\AppData\Local\Temp\2\ipykernel_8028\2016485281.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x: x, x**2, x**3)(3)
C:\Users\ankit.shukla\AppData\Local\Temp\2\ipykernel_8028\2016485281.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x: x, x**2, x**3)(3)

NameError: name 'x' is not defined

But you can return a tuple from a lambda function. You just have to denote the tuple explicitly with parentheses. You can also return a list or a dictionary from a lambda function:

In [10]:
(lambda x: (x, x**2, x**3))(3)

(3, 9, 27)

In [11]:
(lambda x: [x, x**2, x**3])(3)

[3, 9, 27]

In [12]:
(lambda x: {1:x, 2:x**3, 3:x**3})(3)

{1: 3, 2: 27, 3: 27}

In [13]:
(lambda x, y : [x+y, x-y, x/y, x*y])(4,2)

[6, 2, 2.0, 8]

A lambda expression has its own local namespace, so the parameter names don’t conflict with identical names in the global namespace. A lambda expression can access variables in the global namespace, but it can’t modify them.

There’s one final oddity to be aware of. If you find a need to include a lambda expression in a formatted string literal (f-string), then you’ll need to enclose it in explicit parentheses:

In [15]:
print(f"--- {lambda s: s[::-1]}---")

SyntaxError: f-string: invalid syntax (2177257275.py, line 1)

In [14]:
print(f"--- {(lambda s: s[::-1])}---")

--- <function <lambda> at 0x000001E449394790>---

In [16]:
print(f"--- {(lambda s: s[::-1])('I am a string!')}---")

--- !gnirts a ma I---

#### Applying a Function to an Iterable With map()
The first function on the docket is map(), which is a Python built-in function. With map(), you can apply a function to each element in an iterable in turn, and map() will return an iterator that yields the results. This can allow for some very concise code because a map() statement can often take the place of an explicit loop.

#### Calling map() With a Single Iterable
The syntax for calling map() on a single iterable looks like this:

`map(<f>, <iterable>)`

If you have a list of strings, then you can use map() to apply reverse() to each element of the list:

In [17]:
def reverse(s):
    return s[::-1]

In [23]:
animals = ["cat", "dog", "hedgehog", "gecko"]
iterator = map(reverse, animals)
iterator

But remember, map() doesn’t return a list. It returns an iterator called a map object. To obtain the values from the iterator, you need to either iterate over it or use list():

In [24]:
for i in iterator:
    print(i)

tac
god
gohegdeh
okceg

In [25]:
# we can cast it into list as well

list(iterator)

[]

As we can see that iteration has already been over in for loop so we need to map it again and then we will see the output of map function casting in list.

In [26]:
iterator = map(reverse, animals)

list(iterator)

['tac', 'god', 'gohegdeh', 'okceg']

In [28]:
iterator = map(animals, reverse)

TypeError: 'function' object is not iterable

means we must follow the syntax of map function `map(<f>, <iterable>)` rule.

In [29]:
animals = ["cat", "dog", "hedgehog", "gecko"]
iterator = map(lambda s: s[::-1], animals)
list(iterator)

['tac', 'god', 'gohegdeh', 'okceg']

In [30]:
# combining it all into one line:
list(map(lambda s: s[::-1], ["cat", "dog", "hedgehog", "gecko"]))

['tac', 'god', 'gohegdeh', 'okceg']

#### Note

if the iterable contains items that aren't suitable for the specified function, then Python raise an exception.

In [31]:
list(map(lambda s: s[::-1], ["cat", "dog", 234.24, "gecko"]))

TypeError: 'float' object is not subscriptable

In [32]:
# here's somewhat more real-world example:

"+".join(["cat", "dog", "hedgehog", "gecko"])

'cat+dog+hedgehog+gecko'

this works fine if the objects in the list are strings. if they aren't then str.join() raises a TypeError exception.

In [33]:
"+".join([1,2,3,4,5])

TypeError: sequence item 0: expected str instance, int found

one way to remedy this is with a loop. Using a for loop, you can create new list that contains string representation of the numbers in the origial list. Then we can pass a new list to .join():

In [34]:
strings = []

for i in [1,2,3,4,5]:
    strings.append(str(i))
    
strings

['1', '2', '3', '4', '5']

In [35]:
"+".join(strings)

'1+2+3+4+5'

In [36]:
# we can do this in online 
"+".join(map(str, [1,2,3,4,5]))

'1+2+3+4+5'

#### Calling map() With Multiple Iterables
There’s another form of map() that takes more than one iterable argument:

`map(<f>, <iterable₁>, <iterable₂>, ..., <iterableₙ>)`

In [38]:
def func(a,b,c):
    
    return a + b + c



list(map(func, [1,2,3], [10, 20, 30], [100, 200, 300]))

[111, 222, 333]

In this case, func() takes three arguments. Correspondingly, there are three iterable arguments to map():` the lists [1, 2, 3], [10, 20, 30], and [100, 200, 300].`

The first item returned is the result of applying func() to the first element in each list: f(1, 10, 100). The second item returned is f(2, 20, 200), and the third is f(3, 30, 300),

Again in this case, since func() is so short, you could readily replace it with a lambda function instead:

In [39]:
list(
     map(
          (lambda a, b, c: a + b + c),
           [1,2,3],
           [10, 20, 30],
           [100, 200, 300]
         )
     )

[111, 222, 333]

#### Selecting Elements From an Iterable With filter()
filter() allows you to select or filter items from an iterable based on evaluation of the given function. It’s called as follows:

`filter(<f>, <iterable>)`

filter(<f>, <iterable>) applies function <f> to each element of <iterable> and returns an iterator that yields all items for which <f> is truthy. Conversely, it filters out all items for which <f> is falsy.

In the following example, greater_than_100(x) is truthy if x > 100:

In [40]:
def greatera_than_100(x):
    return x > 100

In [41]:
list(filter(greatera_than_100, [1, 101, 123, 233, 23, 35, 150]))

[101, 123, 233, 150]

In [42]:
# we can write with lambda function as well 

list(filter(lambda x: x > 100, [1, 111, 2, 222, 3, 333]))

[111, 222, 333]

The next example features range(). range(n) produces an iterator that yields the integers from 0 to n - 1. The following example uses filter() to select only the even numbers from the list and filter out the odd numbers:

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
def even(x):
    return x%2 == 0

In [45]:
list(filter(even, range(10)))

[0, 2, 4, 6, 8]

In [46]:
# with lambda funtion
list(filter(lambda x :x%2 == 0, range(10)))

[0, 2, 4, 6, 8]

In [47]:
# but these technique with map function return Boolean value

list(map(lambda x :x%2 == 0, range(10)))

[True, False, True, False, True, False, True, False, True, False]

map function will only map the condition wheter it is true or false but filter function filter out the true condition values.

In [48]:
# Here's an example using a built-in string method:

animals = ['cat', 'Cat', 'CAT', 'dog', 'Dog', 'DOG', 'emu', 'Emu', 'EMU']

def all_caps(s):
    return s.isupper()

In [49]:
list(filter(all_caps, animals))

['CAT', 'DOG', 'EMU']

In [50]:
# Using Lambda function 

list(filter(lambda s: s.isupper(), animals))

['CAT', 'DOG', 'EMU']

#### Reducing an Iterable to a Single Value With reduce()
reduce() applies a function to the items in an iterable two at a time, progressively combining them to produce a single result.

reduce() was once a built-in function in Python. Guido van Rossum apparently rather disliked reduce() and advocated for its removal from the language entirely. Here’s what he had to say about it

We need to import it: 
`from functools import reduce`

`syntax: reduce(<f>, <iterable>)`

`Guido` was right when he said the most straightforward applications of `reduce()` are those using associative operators. Let’s start with the plus operator (+):

In [51]:
def f(x, y):
    
    return x + y

In [53]:
from functools import reduce 

reduce(f, [1,2,3,4, 5])

15

In [54]:
# built-in function

sum([1,2,3,4,5])

15

Remember that the binary plus operator also concatenates strings. So this same example will progressively concatenate the strings in a list as well:

In [55]:
 reduce(f, ["cat", "dog", "hedgehog", "gecko"])

'catdoghedgehoggecko'

* Now consider an example using the binary multiplication operator (*). The factorial of a positive integer n is defined as follows: n! = 1 x 2 x ...x n

* we can implement a factorial function using reduce() and range()

In [56]:
def multiply(x, y):
    return x * y

In [57]:
def factorial(n):
    from functools import reduce
    return reduce(multiply, range(1, n+1))

In [58]:
factorial(4) # 1 * 2 * 3 * 4

24

In [59]:
 factorial(6)  # 1 * 2 * 3 * 4 * 5 * 6

720

In [60]:
## using math module we can find out the factorial

from math import factorial

In [61]:
factorial(4)

24

In [62]:
factorial(5)

120

In [63]:
# for max value

max([23, 49, 6, 32])

49

In [64]:
def greater(x, y):
    
    return x if x>y else y

In [65]:
from functools import reduce

reduce(greater, [23, 49, 6, 32])

49

In [66]:
reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])

15

In [67]:
reduce(lambda x, y: x + y, ["foo", "bar", "baz", "quz"])

'foobarbazquz'

In [68]:
def factorial(n):
    from functools import reduce
    return reduce(lambda x, y: x * y, range(1, n + 1))

In [69]:
factorial(5)

120

In [70]:
factorial(7)

5040

In [71]:
reduce((lambda x, y: x if x > y else y), [23, 49, 6, 32])

49

#### Calling reduce() With an Initial Value
There’s another way to call reduce() that specifies an initial value for the reduction sequence:

`reduce(<f>, <iterable>, <init>)`

When present, `<init>` specifies an initial value for the combination. In the first call to `<f>`, the arguments are `<init>` and the first element of `<iterable>`. That result is then combined with the second element of `<iterable>`, and so on:

In [72]:
def f(x, y):
    return x + y

In [73]:
from functools import reduce
reduce(f, [1,2,3,4,5], 100) # here 100 is initial value means (100 + 1 + 2 + 3 + 4 + 5)

115

In [74]:
# using lambda :

reduce(lambda x, y: x + y, [1,2,3,4,5], 100)

115

In [75]:
# without reduce 

100 + sum([1,2,3,4,5])

115

As you’ve seen in the above examples, even in cases where you can accomplish a task using reduce(), it’s often possible to find a more straightforward and Pythonic way to accomplish the same task without it. Maybe it’s not so hard to imagine why reduce() was removed from the core language after all.

That said, reduce() is kind of a remarkable function. The description at the beginning of this section states that reduce() combines elements to produce a single result. But that result can be a composite object like a list or a tuple. For that reason, reduce() is a very generalized higher-order function from which many other functions can be implemented.

For example, you can implement map() in terms of reduce():

In [76]:
numbers = [1,2,3,4,5]

list(map(str, numbers))

['1', '2', '3', '4', '5']

In [77]:
def custom_map(function, iterable):
    from functools import reduce
    
    return reduce(
           lambda items, value: items + [function(value)],
                  iterable,
                  [],
                )

In [78]:
list(custom_map(str, numbers))

['1', '2', '3', '4', '5']

In [79]:
numbers = list(range(10))

In [80]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
def is_even(x):
    
    return x%2 == 0

In [84]:
list(filter(is_even, numbers))

[0, 2, 4, 6, 8]

In [85]:
def custom_filter(function, iterable):
    from functools import reduce
    
    return reduce(
           lambda items, value: items + [value] if function(value) else items,
                  iterable,
                  []
    )

In [86]:
list(custom_filter(is_even, numbers))

[0, 2, 4, 6, 8]

#### Conclusion

`Functional programming` is a programming paradigm in which the primary method of computation is evaluation of pure functions. Although Python is not primarily a functional language, it’s good to be familiar with lambda, map(), filter(), and reduce() because they can help you write concise, high-level, parallelizable code. You’ll also see them in code that others have written.

In this tutorial, you learned:

What functional programming is
How functions in Python are first-class citizens, and how that makes them suitable for functional programming
How to define a simple anonymous function with lambda
How to implement functional code with map(), filter(), and reduce()
With that, you’ve reached the end of this introductory series on the fundamentals of working with Python. Congratulations! You now have a solid foundation for making useful programs in an efficient, Pythonic style.

If you’re interested in taking your Python skills to the next level, then you can check out some more intermediate and advanced tutorials. You can also check out some Python project ideas to start putting your Python superpowers on display. Happy coding

When you try to run Python scripts, a multi-step process begins. In this process the interpreter will:

* 1.  Process the statements of your script in a sequential fashion.

* 2.  Compile the source code to an intermediate format known as bytecode. This bytecode is a translation of the code into a lower-level language that’s platform-independent.

* 3. Ship off the code for execution. At this point, something known as a Python Virtual Machine (PVM) comes into action. The PVM is the runtime engine of Python. It is a cycle that iterates over the instructions of your bytecode to run them one by one.

The whole process to run Python scripts is known as the Python Execution Model.