#### List 

*  Mutable     ----- we can edit the list element 

*  Linear data Structure  --- elements arranged in linear 

*  Mixed type Elements   ---- int, float,etc

*  Variable Length        ------ add, length delete length

*  Zero based indexing      ------ will give some number to go the value of list , start with 0

In [2]:
# list 

animals = []
# this is an empty list

In [3]:
animals

[]

In [4]:
animals = ["dog", "cat", "monkey"]

In [5]:
animals

['dog', 'cat', 'monkey']

In [6]:
animals[0]

'dog'

In [7]:
animals[2]

'monkey'

In [8]:
# list can contain multi type value 
list1 = [10, 22.4, "hello ", 54]

In [9]:
list1

[10, 22.4, 'hello ', 54]

In [10]:
list1[2]

'hello '

In [11]:
# nestet list 
list2 = [[10, 20], [30, 40]]

In [12]:
list2

[[10, 20], [30, 40]]

In [13]:
list2[0]

[10, 20]

In [14]:
# first value of first list
list2[0][0]

10

In [15]:
list2[1][1]

40

In [18]:
list2[1]

[30, 40]

In [17]:
list2[1][0]

30

In [19]:
for num in [10, 20, 30, 40]:
    print(num)

10
20
30
40

#### List Operations

*  Replace

*  Delete

*  Insert

*  Append

*  Sort

*  Reverse

In [20]:
# Replace 

list1 = [10, 20, 40, 5.7]

list1[2] = 3.7

list1

[10, 20, 3.7, 5.7]

In [21]:
# Insert

list1.insert(2, "Hello")
list1

[10, 20, 'Hello', 3.7, 5.7]

In [22]:
# Sort - use this operation when list have only similar type value like , either number , or string

# if list contain num and string then sort will not work

animals = ["monkey", "dog", "cat", "lion"]

animals.sort()

animals

['cat', 'dog', 'lion', 'monkey']

In [23]:
list2 = [10, 2.3, 30, 4]
list2.sort()
list2

[2.3, 4, 10, 30]

In [24]:
# Delete 
del list2[1]
list2

[2.3, 10, 30]

In [25]:
list2

[2.3, 10, 30]

In [26]:
# deleting whole list 
del list2

In [27]:
list2

NameError: name 'list2' is not defined

In [28]:
# append

animals

['cat', 'dog', 'lion', 'monkey']

In [29]:
animals.append('donkey')
animals

['cat', 'dog', 'lion', 'monkey', 'donkey']

In [30]:
# reverse

animals.reverse()

In [31]:
animals

['donkey', 'monkey', 'lion', 'dog', 'cat']

In [32]:
fruits = ["apple", "banana"]

print(fruits)

fruits[1] = "grapes"

print(fruits)

['apple', 'banana']
['apple', 'grapes']

In [33]:
fruits

['apple', 'grapes']

In [34]:
fruits.insert(1, "orange")
fruits

['apple', 'orange', 'grapes']

In [35]:
fruits.sort()

In [36]:
fruits

['apple', 'grapes', 'orange']

In [37]:
del fruits[0]
fruits

['grapes', 'orange']

In [38]:
fruits.append("papaya")
fruits

['grapes', 'orange', 'papaya']

In [39]:
fruits.reverse()
fruits

['papaya', 'orange', 'grapes']

### Tupple

In [40]:
animals = ("dog", "cat", "monkey")

animals

('dog', 'cat', 'monkey')

In [41]:
animals[0]

'dog'

In [42]:
tuple1 = ((10, 2.3), (3, 4.5))

tuple1

((10, 2.3), (3, 4.5))

In [43]:
tuple1[0]

(10, 2.3)

In [44]:
tuple1[0][0]

10

In [45]:
# empty tuple 

num = ()
num

()

In [46]:
# immutable 
tuple1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [47]:
tuple1

((10, 2.3), (3, 4.5))

In [48]:
tuple1[0][0] = 2

TypeError: 'tuple' object does not support item assignment

#### Sequences

* Length 

* Slice

* Index

* Concatenation

* Max value

* Select

* Count

* Membership

* Min Value

* Sum

In [49]:
name = "ankit"
list1 = [10, 20, 30, 3.4, 5, 6]
tuple1 = (10, 2.3, 4.5, 5)

len(name)

5

In [50]:
len(list1)

6

In [51]:
len(tuple1)

4

In [52]:
name

'ankit'

In [53]:
name[0]

'a'

In [54]:
list1[2]

30

In [55]:
tuple1[2]

4.5

In [57]:
name = "ankit"
name[1:2]

'n'

In [58]:
list1[1:]

[20, 30, 3.4, 5, 6]

In [59]:
tuple1

(10, 2.3, 4.5, 5)

In [60]:
tuple1[2:]

(4.5, 5)

In [61]:
name.count("k")

1

In [63]:
name = "hello wolrd"
name.count("l")

3

In [64]:
tuple1

(10, 2.3, 4.5, 5)

In [65]:
tuple1.count(5)

1

In [66]:
name

'hello wolrd'

In [67]:
name.index("e")

1

In [68]:
name.index("l")

2

In [69]:
name = "ankit"

"n" in name

True

In [70]:
## conatenation
name1 = "Hello"
name2 = "World"

name1 + name2

'HelloWorld'

In [71]:
list1

[10, 20, 30, 3.4, 5, 6]

In [73]:
list2 = [23, "hello"]

list1 + list2

[10, 20, 30, 3.4, 5, 6, 23, 'hello']

In [74]:
# tuple concatenation

tuple1

(10, 2.3, 4.5, 5)

In [75]:
tuple2 = ("Hello", 34, 4)

tuple1 + tuple2

(10, 2.3, 4.5, 5, 'Hello', 34, 4)

In [76]:
name

'ankit'

In [77]:
max(name)

't'

In [78]:
min(name)

'a'

In [79]:
tuple1

(10, 2.3, 4.5, 5)

In [80]:
sum(tuple1)

21.8

In [81]:
# note in Cancatenation 
# only list can add list , tuple can add tuple

list1 + tuple1

TypeError: can only concatenate list (not "tuple") to list

In [82]:
name + list1

TypeError: can only concatenate str (not "list") to str

In [90]:
# list assignment and copying

list1 = [10, 2, 3.4, 5.1, 24]

In [91]:
list2 = list1

In [92]:
list2

[10, 2, 3.4, 5.1, 24]

In [94]:
list1[0] = "apple"

In [95]:
list1

['apple', 2, 3.4, 5.1, 24]

In [96]:
list2

['apple', 2, 3.4, 5.1, 24]

In [97]:
# as we can see we made change in one list but it update into another one as well 

# so to avoid this we need to use copying

In [98]:
## using list constructer 

list3 = list(list1)

In [99]:
list3

['apple', 2, 3.4, 5.1, 24]

In [100]:
list1[0] = 0
list1

[0, 2, 3.4, 5.1, 24]

In [101]:
list3

['apple', 2, 3.4, 5.1, 24]

As we can see by copying it didn't affect first one

In [103]:
# generate list by statement 

result = [x**2 for x in [1,2,3]]
result

[1, 4, 9]

#### Negative inex in list

In [104]:

list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [105]:
list1[-1]

4

In [106]:
list1[-3]

2

In [107]:
list1[::-1]

[4, 3, 2, 1]

In [108]:
list1

[1, 2, 3, 4]

In [110]:
list1[-3:-1]

[2, 3]

In [111]:
list1[-1:-3]

[]

In [112]:
# we can insert value by negative index as well

list1

[1, 2, 3, 4]

In [113]:
list1.insert(-3, 6)
list1

[1, 6, 2, 3, 4]

as we can see negative index works for inserting

In [115]:
list1

[1, 6, 2, 3, 4]

In [116]:
del list1[-3]

In [117]:
list1

[1, 6, 3, 4]

as we can see that del work for negative index as well

#### Range

use this when we need sequence of integer values

In [118]:
range(1, 11)

range(1, 11)

In [119]:
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

Thank You 👍🙏