#### String functions countinue......

In [1]:
# replace  -- replace temporarly 
str1 = "Hello planet"

str1.replace("planet", "world")

'Hello world'

In [2]:
str1.replace("l", "#")

'He##o p#anet'

In [4]:
str1

'Hello planet'

In [5]:
str1.replace("l", "#", 2)

'He##o planet'

In [6]:
### isdigit
str1= "123g"
str1.isdigit()

False

In [7]:
str1 = "12344"
str1.isdigit()

True

In [8]:
## isalpha()

str2 = "hello"
str2.isalpha()

True

In [9]:
str2 = "hello world"
str2.isalpha() # space in not a alpha

False

In [10]:
str2 = "hello_"
str2.isalpha()

False

In [11]:
# isalnum
str1 = "hello123"
str1.isalnum()

True

In [12]:
str2 = "hello 123"
str2.isalnum()

False

In [13]:
str2 = "Hello_"
str2.isalnum()

False

In [14]:
# strip function

str1 = "!!!!Hello!!!!"

str1.strip("!")

'Hello'

In [15]:
# we can remove from left side or right side but not from middle

In [16]:
str1 = "aaaaaHelaaaaloaaaa"
str1.strip("a")

'Helaaaalo'

In [19]:
str1 = "hello,,,,,,,ae"

str1.strip(",ae")

'hello'

In [20]:
str1 = "hello,,,,,,,aoe"

str1.strip(",aoe")

'hell'

In [21]:
# rstrip
str1 ="....hhhhhhhekooHello123.....,,,"
str1.rstrip(",.123")

'....hhhhhhhekooHello'

In [23]:
#  lstrip
str1 ="....hhhhhooHello123.....,,,"
str1.lstrip(",.oh123")

'Hello123.....,,,'

In [24]:
str1 = "   hello  "
str2 = "World"

str3 = str1.strip() + str2

print(str3)

helloWorld

#### Modules

In [26]:
import math     # here math is 'module' means already defined

# these are 'Built-in module'
math.factorial(3)

6

In [27]:
# to find functions inside math module

help("math")

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [28]:
import sys

sys.path

["E:\\Python_world\\Amulya's Academic",
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\python39.zip',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\DLLs',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\lib',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39',
 '',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\win32',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\ankit.shukla\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\Pythonwin']

In [29]:
# user can also define his module 

# we have to save this as a '.py' file 

# def module1():
    
#     name = input("Please enter your name: ")
#     print("Hello, ", name)
#     return

In [30]:
# now we can import above module 

import mymodule1

mymodule1.module1()

Please enter your name: Ankit
Hello,  Ankit

#### Dictionay

In [31]:
#### Data -- DATABASE MANAGEMENT SYSTEM

##

In [32]:
temp = {}

In [33]:
temp["sun"] = 12.2
temp["mon"] = 23
temp["tue"] = 30

temp

{'sun': 12.2, 'mon': 23, 'tue': 30}

In [38]:
mail_address = {"ankit":"akshukla283@gmail.com",
               "shukla":"ankit.emt@gmail.com"}

mail_address

{'ankit': 'akshukla283@gmail.com', 'shukla': 'ankit.emt@gmail.com'}

In [39]:
mail_address.keys()

dict_keys(['ankit', 'shukla'])

In [40]:
mail_address.values()

dict_values(['akshukla283@gmail.com', 'ankit.emt@gmail.com'])

In [41]:
mail_address.items()

dict_items([('ankit', 'akshukla283@gmail.com'), ('shukla', 'ankit.emt@gmail.com')])

In [42]:
mail_address["ankit"]

'akshukla283@gmail.com'

In [43]:
mail_address["shukla"]

'ankit.emt@gmail.com'

In [44]:
#### Dictionary Operations

In [46]:
dict()

{}

In [47]:
num = {1:"one", 2:"two", 3:"three"}

# copying dictionay
numbers = dict(num)
numbers

{1: 'one', 2: 'two', 3: 'three'}

In [48]:
# len of dictionary
len(num)

3

In [49]:
# delete

del num[2]

In [50]:
num

{1: 'one', 3: 'three'}

In [51]:
# in operation

1 in num

True

In [52]:
2 in num

False

#### creating dictionary

In [53]:
my_dict = {1:"apple", 2:"ball", 3:"cat"}
my_dict

{1: 'apple', 2: 'ball', 3: 'cat'}

In [54]:
mydict = {}

my_dict[1] = "apple"
my_dict[2] = "ball"
my_dict[3] = "cat"

my_dict

{1: 'apple', 2: 'ball', 3: 'cat'}

In [55]:
# using constructer way 

d = dict([(1, "appl1"), (2, "ball"), (3,"cat")])
d

{1: 'appl1', 2: 'ball', 3: 'cat'}

In [56]:
### from to parallel list (same length list)

a = [1,2,3,4]

b = ["apple", "ball", "cat", "dog"]

my_dict = {}
for i in range(len(a)):
    my_dict[a[i]] = b[i]
    
my_dict

{1: 'apple', 2: 'ball', 3: 'cat', 4: 'dog'}

#### insert and access from dictionary

In [57]:
my_dict

{1: 'apple', 2: 'ball', 3: 'cat', 4: 'dog'}

In [58]:
my_dict.keys() # return value in dictionary object but in python 2 it will return list

dict_keys([1, 2, 3, 4])

In [59]:
# access byb key 

my_dict[3]

'cat'

In [60]:
# we can't access key by value

my_dict["cat"]

KeyError: 'cat'

In [61]:
my_dict[4]

'dog'

In [62]:
my_dict[5] # WHEN  key is not present it gives error but by get method it can be handled

KeyError: 5

In [63]:
my_dict.get(5)

In [64]:
my_dict.get(3)

'cat'

In [65]:
# isert into dictionary 

my_dict[5] = "monkey"
my_dict

{1: 'apple', 2: 'ball', 3: 'cat', 4: 'dog', 5: 'monkey'}

In [66]:
# update the value 

my_dict[2] = "bat"
my_dict

{1: 'apple', 2: 'bat', 3: 'cat', 4: 'dog', 5: 'monkey'}

In [67]:
len(my_dict)

5

#### Dictionary Method 

1.  fromkeys()

In [68]:
list1= [1,2,3,4]

dict.fromkeys(list1)

{1: None, 2: None, 3: None, 4: None}

In [69]:
{}.fromkeys(range(1,7), 10)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10}

In [103]:
# when any duplicate value will be in list then by using 'fromkeys()' duplicte value will be deteled
# because dictionary doesn't contain duplicate value.

list1 = [1,2,3,3,3,4]

dict.fromkeys(list1)

{1: None, 2: None, 3: None, 4: None}

As we can see that there was duplicate of 3 were present but when we use 'fromkeys()' it has been deteled by dictionary properties

In [104]:
# by this we can remove a duplicate from a list

def remove_dup(x):
    
    return list(dict.fromkeys(x))

my_list = [1,2,2,2,3,3,2,4,5,3,5]
remove_dup(my_list)

[1, 2, 3, 4, 5]

In [108]:
# we can make a funtion to remove duplicate from a string by this 

def remove_dup(str1):
    lst = []
    for x in str1:
        lst.append(x)
    updated_lst = list(dict.fromkeys(lst))
    return "".join(updated_lst)


str1 = input("please enter the list: ")

remove_dup(str1)

please enter the list: hello world

'helo wrd'

2. setdefault()

`syntax: 
setdefault(key, value)`  value is optional 

if key is present then it return the value of that key 

if key is not present it will add key to dectionay

In [70]:
students = {"John":20, "Devid": 21, "Mark":23}
students.setdefault("John")

20

As 'John' is present so it returns the value of that

In [71]:
students

{'John': 20, 'Devid': 21, 'Mark': 23}

In [72]:
students.setdefault("Maxi")

In [73]:
students

{'John': 20, 'Devid': 21, 'Mark': 23, 'Maxi': None}

As the key "Maxi" was not in the dict so it has been added by from 'setdefault' method

In [74]:
students.setdefault("Rockey", 22)

22

In [75]:
students

{'John': 20, 'Devid': 21, 'Mark': 23, 'Maxi': None, 'Rockey': 22}

In [76]:
#### Concatenation

list1 = [1,2,3,4]
list2 = ['a','b','c','d']


dict1 = {1:"apple", 2:"ball", 3:"cat"}
dict2 = {"o":"orange"}

In [77]:
list1 + list2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [78]:
dict1 + dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [79]:
# we can't concate dictionary by using + operator

In [80]:
# using update

dict1.update(dict2)

In [81]:
dict1

{1: 'apple', 2: 'ball', 3: 'cat', 'o': 'orange'}

In [82]:
dict2

{'o': 'orange'}

In [95]:
### 

dict1 = {1:"a", 2:"b"}
list1 =[3, 'c']

dict1.update([list1]) # note we have to pass value in list []

dict1

{1: 'a', 2: 'b', 3: 'c'}

In [96]:
dict1 = {1:"a", 2:"b"}
list1 =(3, 'c')

dict1.update((list1)) # note not a  tuple ()

dict1

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [97]:
dict1

{1: 'a', 2: 'b'}

In [98]:
dict1.update(x = 1, y = 2, z = 3)
dict1

{1: 'a', 2: 'b', 'x': 1, 'y': 2, 'z': 3}

In [99]:
dict2 = {1:"apple"}

In [100]:
dict1.update(dict2)
dict1

{1: 'apple', 2: 'b', 'x': 1, 'y': 2, 'z': 3}

In [93]:
dict1

{1: 'a', 2: 'b', 'x': 1, 'y': 2, 'z': 3}

In [101]:
dict2

{1: 'apple'}

In [102]:
dict2.update(dict1)
dict2

{1: 'apple', 2: 'b', 'x': 1, 'y': 2, 'z': 3}

In [109]:
dict2

{1: 'apple', 2: 'b', 'x': 1, 'y': 2, 'z': 3}

#### delete method

In [113]:
dict2 = {1:"a", 2:"b", 3:"c", 4:"d"}

In [114]:
# del method

del dict2[2] # here we have given 2 as key and it return nothing but delete the key value pair

dict2

{1: 'a', 3: 'c', 4: 'd'}

In [115]:
# pop method 

dict2.pop(1)  # these use delete  single key value pair 
dict2

{3: 'c', 4: 'd'}

In [116]:
#### clear - this method clear the all key value pair from the dictionary 

dict2.clear()

In [117]:
dict2

{}

as we can see that now we have empty dictionary as we have cleared that by using clear method

##### note -
if want to delete entire dictionary permanently then we can use 'del' keyword without any index we can do it

In [118]:
dict2

{}

In [119]:
del dict2
dict2

NameError: name 'dict2' is not defined

look we have deleted the dict2 using 'del' keyword and when we call it it gives an error

#### Difference between List and Dictionary


list can be access by index and it is ordered 

dictionary can be access by key it is unordered till python 3.6 now it is ordered

In [120]:
list1 = [2,3,4,"hello"]
list1[3]

'hello'

In [121]:
dict1 = {1:"hello", 2:"World"}

dict1[1]

'hello'

#### Temperature display program using list

In [122]:
daily_temp = [34, 23, 34, 45, 46, 50, 39]

print("'sun', 'mon', 'tue','wed','thu','fri', 'sat'")
day = input("enter the days as above mentioned: ")

if day.lower() == "sun":
    dayname = "Sunday"
    temp = daily_temp[0]

elif day.lower() == "mon":
    dayname = "Monday"
    temp = daily_temp[1]
    
elif day.lower() == "tue":
    dayname = "Tuesday"
    temp = daily_temp[2]
    
elif day.lower() == "wed":
    dayname = "Wednesday"
    temp = daily_temp[3]
    
elif day.lower() == "thu":
    dayname = "Thursday"
    temp = daily_temp[4]
    
elif day.lower() == "fri":
    dayname = "Friday"
    temp = daily_temp[5]
    
elif day.lower() == "sat":
    dayname = "Saturday"
    temp = daily_temp[6]
else:
    print("Wrong input!")
    
print("The temperatur for: ",dayname,"was",temp,"degrees")

'sun', 'mon', 'tue','wed','thu','fri', 'sat'
enter the days as above mentioned: sun
The temperatur for:  Sunday was 34 degrees

#### same program using 'dictionary'

In [124]:
daily_temps = {'sun':34, 'mon':23, 'tue':34, 'wed':45,'thu':46,'fri':50,'sat':39}

dayname = {'sun':'Sunday', 'mon':'Monday', 'tue':'Tuesday','wed':'Wednesday','thu':'Thursday','fri':'Friday', 'sat':'Saturday'}

print("'sun', 'mon', 'tue','wed','thu','fri', 'sat'")
day = input("enter the days as above mentioned: ")

print("The temperatur for: ",dayname[day],"was",daily_temps[day],"degrees")

'sun', 'mon', 'tue','wed','thu','fri', 'sat'
enter the days as above mentioned: sun
The temperatur for:  Sunday was 34 degrees

In [126]:
# to check users input whether user have given valid input or not in  dictionay method 

daily_temps = {'sun':34, 'mon':23, 'tue':34, 'wed':45,'thu':46,'fri':50,'sat':39}

dayname = {'sun':'Sunday', 'mon':'Monday', 'tue':'Tuesday','wed':'Wednesday','thu':'Thursday','fri':'Friday', 'sat':'Saturday'}

print("'sun', 'mon', 'tue','wed','thu','fri', 'sat'")
day = input("enter the days as above mentioned: ")
if day in daily_temps:
    print("The temperatur for: ",dayname[day],"was",daily_temps[day],"degrees")
else:
    print("Wrong Input!")

'sun', 'mon', 'tue','wed','thu','fri', 'sat'
enter the days as above mentioned: wmw
Wrong Input!