In [1]:
var1 = "Hello world!"
var2 = "Python Programming"

#### Accessing Values in Strings

In [2]:
var1 = "Hello world!"
var2 = "Python Programming"

print(var1[0])

H

In [3]:
print(var2[1:5])

ytho

#### Updating Strings

In [5]:
var1 = "Hello world!"

print("Updating string: ", var1[:6] + 'Python')

Updating string:  Hello Python

#### Triple Quotes

In [9]:
print("""Hello world!
welcome to the Python Programming.
Best of luck!.""")

Hello world!
welcome to the Python Programming.
Best of luck!.

In [12]:
para_str = """This is a long string that is made up 
of several lines and and non-printable characters such as 
TAB (\t) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [\n], or just a NEWLINE within the variable assignment will also show up"""

print(para_str)

This is a long string that is made up
of several lines and and non-printable characters such as
TAB (	) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
], or just a NEWLINE within the variable assignment will also show up

In [13]:
print("c:\\nowhere")

c:\nowhere

* `here we can see that back slash '\'  worked as escape character.`
* to avoid this we will use `raw input  like r'expression'.`

In [14]:
print(r"c:\\nowhere")

c:\\nowhere

### Built-in String Method

In [15]:
# 1. capitalize()

str1 = "this is string example... wow!"

print(str1.capitalize())

This is string example... wow!

In [17]:
# 2. center()

str1 = "welcome"

print(str1.center(12, "*"))

**welcome***

In [20]:
print(str1.center(15, "-"))

----welcome----

In [21]:
# 3. count()

str1 = "this is string example... wow!"

print(str1.count("exam", 10, 40))

1

In [22]:
str1.count("i")

3

In [143]:
# 4. decode() - str.decode(encoding = "UTF-8", error = "strict")

import base64
str1 = "this is string example... wow!"

str1.encode('utf-8', 'strict')


print("Encoded string: ", str1)
#print("Decoded string: ", str1.decode("utf-8", 'strict')) # no direct decode in python 3
# we need to use base64.base64decode(str1.decode("utf-8", error = "strict"))

Encoded string:  this is string example... wow!

In [144]:
import base64
str1 = "this is string example... wow!"

#str1.encode('utf-8', 'strict')
str1 = base64.b64encode(str1.encode("utf-8", errors='strict'))

print("Encoded string: ", str1)

Encoded string:  b'dGhpcyBpcyBzdHJpbmcgZXhhbXBsZS4uLiB3b3ch'

In [33]:
str1 = "this is string example... wow!"

import base64

str1 = base64.b64encode(str1.encode('utf-8', errors="strict"))

print("Encoded string: ", str1)
print("Decoded string: ", base64.b64decode(str1.decode("utf-8", errors="strict")))

Encoded string:  b'dGhpcyBpcyBzdHJpbmcgZXhhbXBsZS4uLiB3b3ch'
Decoded string:  b'this is string example... wow!'

In [31]:
# 5 encode()

str1 = "this is string example... wow!"

import base64

str1 = base64.b64encode(str1.encode('utf-8', errors="strict"))

print("Encoded string: ", str1)

Encoded string:  b'dGhpcyBpcyBzdHJpbmcgZXhhbXBsZS4uLiB3b3ch'

In [37]:
# 6. endswith()

str1 = "this is string example... wow!"

suffix = "!"

print(str1.endswith(suffix))

True

In [38]:
str1 = "this is string example... wow!"

suffix = "!"

print(str1.endswith(suffix, 20))

True

In [39]:
str1 = "this is string example... wow!"

suffix = "exam"

print(str1.endswith(suffix, 20))

False

In [41]:
str1 = "this is string example... wow!"

suffix = "exam"

print(str1.endswith(suffix, 0, 19))

True

In [48]:
# 7 expandtabs() - return copy of the string in which the tab character i.e. '\t'

str1 = "this is \tstring example... wow!"

print("Original string: ", str1)
print("default expanded tab:", str1.expandtabs())   # default is 8
print("double expanded tab:", str1.expandtabs(15))

Original string:  this is 	string example... wow!
default expanded tab: this is         string example... wow!
double expanded tab: this is        string example... wow!

In [49]:
# 7. find()  # note if not found then return -1

str1 = "this is string example... wow!"

str2 = "example"

print(str1.find(str2))

15

In [50]:
str3 = 'i'
print(str1.find(str3, 10))

11

In [51]:
print(str1.find(str3, 40))

-1

In [52]:
# 8. index() # if index not found will raise an exception means will give error

str1 = "this is string example... wow!"

str3 = 'i'
print(str1.index(str3, 10))

11

In [53]:
str3 = 'i'
print(str1.index(str3, 40))

ValueError: substring not found

In [54]:
# 9. isalnum()

str1 = 'this2022'
print(str1.isalnum())

True

In [61]:
str1 = "this is string 123 23 example... wow!"

print(str1.isalnum())

False

In [57]:
# 10. isalpha()

str1 = "hello"

print(str1.isalpha())

True

In [58]:
str1 = "hello world"
print(str1.isalpha())

False

In [59]:
# 11. isdigit()

str1 = '1223445'
print(str1.isdigit())

True

In [60]:
str1 = 'Hello123'
print(str1.isdigit())

False

In [62]:
# 12. isnumeric()

str1 = "this2022"
print(str1.isnumeric())

False

In [63]:
str1 = "23323"
print(str1.isnumeric())

True

In [64]:
str1 = 2343
print(str1.isnumeric())

AttributeError: 'int' object has no attribute 'isnumeric'

In [65]:
# 13. isspace()

str1 = "  "
print(str1.isspace())

True

In [66]:
str1 = "Hello World"

print(str1.isspace())

False

In [67]:
# 14. istitle()

str1 = "Hello World!"
print(str1.istitle())

True

In [68]:
str1 = "Hello World 123_!"
print(str1.istitle())

True

In [69]:
str1 = "Hello world"
print(str1.istitle())

False

In [70]:
# 15. isupper()

str1 = "HELLO!112"
print(str1.isupper())

True

In [71]:
str1 = 'Hello'
print(str1.isupper())

False

In [72]:
# 16.  join()  # str.join(seq)

s = "-"
sequence = ("a", "b", "c")

s.join(sequence)

'a-b-c'

In [73]:
str_lst = ["hello", "world!", "\n", "welcome", "to", "python world"]

" ".join(str_lst)    # joining with str

'hello world! \n welcome to python world'

In [74]:
# 17. len()

str1 = "hello world"

len(str1)

11

In [75]:
len("hello")

5

In [76]:
# 18. ljust()

str1 = "hello"

print(str1.ljust(30, "*"))

hello*************************

In [77]:
str1.ljust(30, "-")

'hello-------------------------'

In [78]:
# 19. lower()

str1 = "HELLO WORLD123!"
str1.lower()

'hello world123!'

In [79]:
str1 = "heLLO"
print(str1.lower())

hello

In [80]:
# 20. lstrip()

str1 = "*****Hello*****"
print(str1.lstrip("*"))

Hello*****

In [81]:
str1 = "      hell0 ------"
print(str1.lstrip())

hell0 ------

In [82]:
# 21. maketrans()   # str.maketrans(intab, outtab)
# intab - This is the string having having actual character.
# outtab - This is the string having corresponding mapping character.

intab = "aeiou"

outtab = "12345"

str1 = "this is string example... wow!"

transtab = str1.maketrans(intab, outtab)

print(str1.translate(transtab))

th3s 3s str3ng 2x1mpl2... w4w!

In [83]:
str1 = "hello world"

str1.maketrans("l", "$")

{108: 36}

In [85]:
str1.translate(str1.maketrans("l", "$"))

'he$$o wor$d'

In [86]:
str1 = "hello world"

change = {"l":"#", "o":"$"}
str1.maketrans(change)
str1.translate(str1.maketrans(change))

'he##$ w$r#d'

In [87]:
str1 = "hello world"

change = {"l":"#", "o":"$", "d":"2"}
str1.maketrans(change)
str1.translate(str1.maketrans(change))

'he##$ w$r#2'

In [90]:
# string keys in translate table must be of length 1

str1 = "hello world{(["

change = {"l":"#", "o":"$", "d":"2","[":""}
str1.maketrans(change)
str1.translate(str1.maketrans(change))

'he##$ w$r#2{('

In [94]:
str1 = "hello world"

str2 = "elo"
str3 = "*$#"
str1.maketrans(str2, str3) # we can maps 2 argument and when we will provide 3 argument 
                           # it will will be map with "None" and in output of tanslate it will be
                           # removed from the string

{101: 42, 108: 36, 111: 35}

As we can see that we mapped all three 'e', 'l', 'o' along with "*", "$","#" in ordinal num.

In [95]:
# now let's tarnselate it 

str1.translate(str1.maketrans(str2, str3))

'h*$$# w#r$d'

In [96]:
str1 = "hello world{(["

str2 = "elo"
str3 = "*$#"
str4 = "{(["
str1.maketrans(str2, str3, str4)

{101: 42, 108: 36, 111: 35, 123: None, 40: None, 91: None}

As we can see that the third argument str4 has been mapped with None. Let's see the output

In [97]:
str1.translate(str1.maketrans(str2, str3, str4))

'h*$$# w#r$d'

Means the third argument will be removed because that had been mapped with 'None'.

In [91]:
# example dictionary
dict = {"a": "123", "b": "456", "c": "789"}
string = "abc"
print(string.maketrans(dict))

{97: '123', 98: '456', 99: '789'}

In [92]:
# example dictionary
dict = {97: "123", 98: "456", 99: "789"}
string = "abc"
print(string.maketrans(dict))

{97: '123', 98: '456', 99: '789'}

In [93]:
# first string
firstString = "abc"
secondString = "def"
string = "abc"
print(string.maketrans(firstString, secondString))

# example dictionary
firstString = "abc"
secondString = "defghi"
string = "abc"
print(string.maketrans(firstString, secondString))

{97: 100, 98: 101, 99: 102}

ValueError: the first two maketrans arguments must have equal length

In [98]:
name = "Dmvid warnor"

# we need to make correction in name and make this like - "David worner"
str1 = "mo"
str2 = "ae"

name.translate(name.maketrans(str1, str2))

'David warner'

In [99]:
# 22. max()

str1 = "hello"
max(str1)

'o'

In [100]:
# 23. min()

str1 = "hello"
min(str1)

'e'

In [101]:
# 24. replace() # str.replace(old, new, [,max])

# return copy of the string means doesn't affect the original string.

str1 = "Hello planet , welcome to the Python Programming."

str1.replace("planet", "world!")

'Hello world! , welcome to the Python Programming.'

In [102]:
str1 = "hello world"
print("before replace method string: ", str1)
print("during replace method string: ", str1.replace("l", "#", 2))
print("after repladce method string: ", str1)

before replace method string:  hello world
during replace method string:  he##o world
after repladce method string:  hello world

In [103]:
# 25. rfind()  # find the string from right side means return last string if not found return -1

str1 = "Hello world"
str1.rfind("l")

9

In [104]:
str1 = "hello world"
str1.rfind("l", 30)

-1

In [105]:
str1 = "hello world"
str1.rfind("l", 1,6)

3

In [106]:
# 26.  rindex() # will return last index of the string if not found will through an error 

str1 = "hello world"

str1.rindex("l")

9

In [107]:
str1 = "hello world"

str1.rindex("l", 1,6)

3

In [109]:
str1 = "hello world"

str1.rindex("l", 30)

ValueError: substring not found

In [110]:
# 27.  rjust  # will shift the string right side 

str1 = "Hello"

str1.rjust(15,"*")

'**********Hello'

In [111]:

str1 = "Hello"

str1.rjust(15,"?")

'??????????Hello'

In [112]:
# 28.  rstrip()  # strip the right side part of the string 

str1 = "*******Hello********"
str1.rstrip("*")

'*******Hello'

In [113]:
# 29.  split()  # return the list of all the words in the string, using separator default is " "

str1 = "Hello World"

str1.split()

['Hello', 'World']

In [115]:
str1 = "Hello World"

str1.split("l", 2)

['He', '', 'o World']

In [116]:
str1 = "Hello World"

str1.split("i", 2)

['Hello World']

In [119]:
str1 = "hello"
str1.split("e")

['h', 'llo']

In [121]:
# 30.  splitlines()  # returns a list with all the lines in string

str1 = "hello \nworld this is \nexample of \nsplitlines"
str1.splitlines()

['hello ', 'world this is ', 'example of ', 'splitlines']

In [125]:

str1 = "hello \nworld \ this \ is \nexample of \nsplitlines"
str1.splitlines()

['hello ', 'world \\ this \\ is ', 'example of ', 'splitlines']

In [126]:
# 31.  startswith()   # method check wether the string start with str.

str1 = "this string is just for chacking"
str1.startswith("this")

True

In [127]:
str1 = "this string is just for chacking"
str1.startswith("string", 5, 20)

True

In [128]:
str1 = "this string is just for chacking"
str1.startswith("string", 4, 20)

False

In [129]:
# 32.  strip()  # return a copy of striped string

str1 = "----hello******"

str1.strip("-*")

'hello'

In [130]:
# 33.  swapcase()  # return the swapped string copy of the original string.

str1 = "HeLLo WoRLd123"

str1.swapcase()

'hEllO wOrlD123'

In [132]:
# 34.  title()  # return a copy of string with every word's first letter in upper case

str1 = "hello world, welcome to python programming"

print("Original string: ", str1)
print()
print("Swapped string:", str1.swapcase())
print()
print("after swapecase string: ", str1)

Original string:  hello world, welcome to python programming

Swapped string: HELLO WORLD, WELCOME TO PYTHON PROGRAMMING

after swapecase string:  hello world, welcome to python programming

In [133]:
# 35.  translate()  # return a copy of the string in which all the character have been translated
                    # using table
    
intab = "aeiou"

outtab = "12345"

str1 = "this is string example... wow!"

transtab = str1.maketrans(intab, outtab)


transtab # all element have been translated with corresponding value in ordinal

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [134]:
print(str1.translate(transtab))

th3s 3s str3ng 2x1mpl2... w4w!

In [135]:
# 36.  upper()   # return a copy of the string in upper case

str1 = "hello world"

str1.upper()

'HELLO WORLD'

In [136]:
print("str1 before upper: ", str1)
print()
print("String during upper:", str1.upper())
print()
print("string after upper:", str1)

str1 before upper:  hello world

String during upper: HELLO WORLD

string after upper: hello world

In [137]:
# 37.  zfill()  # return copy in which method pads with on the left with zeros to fill the width.

str1 = "Hello World"

str1.zfill(30)

'0000000000000000000Hello World'

In [138]:
str1

'Hello World'

In [139]:
# 38. isdecimal()

str1 = "1233"

str1.isdecimal()

True

In [140]:
str1 = "this2022"
str1.isdecimal()

False

In [145]:
#  39. islower()

str1 = "hello worls123!@"

str1.islower()

True

In [146]:
str1 = "Hello world!12"
str1.islower()

False