### Looping with index

In [1]:
color = ['red', 'blue', 'yellow']

for i in color:
    print(i)

red
blue
yellow

In [3]:
# using loop we can print only value in the list but when we want to print value and index as well

for i in range(len(color)):
    print(i, color[i])

0 red
1 blue
2 yellow

In [4]:
# we can use 'enumerate' fucntion

color

['red', 'blue', 'yellow']

In [5]:
for i, j in enumerate(color):
    print(i, j)

0 red
1 blue
2 yellow

In [6]:
# if you want start from 1

for i, j in enumerate(color, 1):
    print(i, j)

1 red
2 blue
3 yellow

#### Set Data type

set data type is mutable with not duplicate unordered value

In [7]:
fruits = {"apple", "banana"}
fruits

{'apple', 'banana'}

In [8]:
fruits.add("mango")
fruits

{'apple', 'banana', 'mango'}

In [9]:
# using frozen set we can make it imutable 

animals = frozenset(["tiger", "lion"])
animals

frozenset({'lion', 'tiger'})

In [10]:
animals.add("dog")

AttributeError: 'frozenset' object has no attribute 'add'

as we can see we can't edit a froenset

In [12]:
num = {1,2,2,2,3,3,4,4,5,5}

num   # no duplicate allow

{1, 2, 3, 4, 5}

In [13]:
# empty set 
# if we use {} it will create dictionary

empty_set = {}

type(empty_set)

dict

In [14]:
# now how to create an empty set use 'set()'

empty_set = set()
empty_set

set()

In [15]:
# copy set 

num = {1,2,3,4}

num1 = set(num)
num1

{1, 2, 3, 4}

#### Set Operations

In [16]:
# membership operators

set1 = {1,2,3,4,5,"hello"}

6 in set1

False

In [17]:
4 in set1

True

In [18]:
# add 

set1.add("world")
set1

{1, 2, 3, 4, 5, 'hello', 'world'}

In [19]:
set1.add(6)

In [20]:
set1

{1, 2, 3, 4, 5, 6, 'hello', 'world'}

In [21]:
# remove

set1.remove(6)
set1

{1, 2, 3, 4, 5, 'hello', 'world'}

In [22]:
set1.remove("world")
set1

{1, 2, 3, 4, 5, 'hello'}

In [33]:
set1 = {1,2,3,4,5}
set2 = {1, "apple"}

In [34]:
# |  union

set2 = {1, "apple"}

set1|set2

{1, 2, 3, 4, 5, 'apple'}

In [36]:
set1.union(set2)

{1, 2, 3, 4, 5, 'apple'}

In [24]:
# clear 

set1.clear()
set1

set()

In [26]:
## intersection  symbol is '&'

A = {1,2,3,4}
B = {1,5,6,7,3}

A & B   # 1,3 are common value

{1, 3}

In [30]:
A.intersection(B)

{1, 3}

In [27]:
# difference  '-'

A - B

{2, 4}

In [37]:
B - A # elements blongs to B

{5, 6, 7}

In [28]:
A.difference(B)

{2, 4}

In [38]:
B.difference(A)

{5, 6, 7}

In [39]:
# symmetric difference  ' ^ '
A ^ B

{2, 4, 5, 6, 7}

In [40]:
A.symmetric_difference(B)

{2, 4, 5, 6, 7}

In [41]:
len(A)

4

In [42]:
len(B)

5

In [43]:
c = A.copy()
c

{1, 2, 3, 4}

In [44]:
d = set(A)
d

{1, 2, 3, 4}

In [45]:
c

{1, 2, 3, 4}

In [46]:
d

{1, 2, 3, 4}

In [49]:
A

{1, 2, 3, 4}

In [50]:
B

{1, 3, 5, 6, 7}

In [51]:
A.difference_update(B)

In [52]:
A

{2, 4}

In [53]:
B

{1, 3, 5, 6, 7}

In [54]:
# let's again define A
A = {1,2,3,4}
B = {1,2,4,5,6,7,"a"}

In [55]:
B.symmetric_difference_update(A)

In [56]:
B

{3, 5, 6, 7, 'a'}

In [57]:
# let's again define A
A = {1,2,3,4}
B = {1,2,4,5,6,7,"a"}

In [58]:
B.difference_update(A)

In [59]:
B

{5, 6, 7, 'a'}