In [1]:
dict1 = {1:"apple", 2:"ball", 3:"cat"}
dict2 = {"o":"orange"}

dict1.get(3)

'cat'

### Looping with index

In [2]:
color = ['red', 'blue', 'yellow']

for i in color:
    print(i)

red
blue
yellow

In [3]:
# using loop we can print only value in the list but when we want to print value and index as well
# we can use range fuction and other build-in methods as well, let's fist do with range

for i in range(len(color)):
    print(i, color[i])

0 red
1 blue
2 yellow

In [4]:
# we can use 'enumerate' fucntion

color

['red', 'blue', 'yellow']

#### enumerate():

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.
`syntax: enumerate(iterable, start=0)`

In [6]:
color = ['red', 'blue', 'yellow']
for i, j in enumerate(color):
    print(i, j)

0 red
1 blue
2 yellow

In [7]:
# if you want that your index should start from 1 so we can pass start parameter

for i, j in enumerate(color, 1):
    print(i, j)

1 red
2 blue
3 yellow

In [8]:
for i, j in enumerate(color, 10):
    print(i, j)

10 red
11 blue
12 yellow

#### Set Data type

set data type is mutable with not duplicate unordered value

In [9]:
fruits = {"apple", "banana"}
fruits

{'apple', 'banana'}

In [10]:
fruits.add("mango")
fruits

{'apple', 'banana', 'mango'}

In [11]:
# using frozen set we can make it imutable 

animals = frozenset(["tiger", "lion"])
animals

frozenset({'lion', 'tiger'})

In [12]:
animals.add("dog")

AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
fruits = {"apple", "banana"}
fruits = frozenset(fruits)
fruits

frozenset({'apple', 'banana'})

In [14]:
# now fruits has become frozenset means it is immutable now
fruits.add("mango")

AttributeError: 'frozenset' object has no attribute 'add'

as we can see we can't edit a froenset

In [15]:
num = {1,2,2,2,3,3,4,4,5,5}

num   # no duplicate allow

{1, 2, 3, 4, 5}

In [16]:
# empty set 
# if we use {} it will create dictionary

empty_set = {}

type(empty_set)

dict

In [17]:
# now how to create an empty set use 'set()'

empty_set = set()
empty_set

set()

In [18]:
# copy set 

num = {1,2,3,4}

num1 = set(num)
num1

{1, 2, 3, 4}

In [21]:
num1.add(5)
num1

{1, 2, 3, 4, 5}

In [22]:
num

{1, 2, 3, 4}

In [ ]:
# no change in the set num from which set num1 has been copied.

#### Set Operations

In [23]:
# membership operators

set1 = {1,2,3,4,5,"hello"}

6 in set1

False

In [24]:
4 in set1

True

In [25]:
# add 

set1.add("world")
set1

{1, 2, 3, 4, 5, 'hello', 'world'}

In [26]:
set1.add(6)

In [27]:
set1

{1, 2, 3, 4, 5, 6, 'hello', 'world'}

In [28]:
# remove

set1.remove(6)
set1

{1, 2, 3, 4, 5, 'hello', 'world'}

In [29]:
set1.remove("world")
set1

{1, 2, 3, 4, 5, 'hello'}

In [30]:
set1 = {1,2,3,4,5}
set2 = {1, "apple"}

In [34]:
# |  union
# we can use symbol '|' vertical bar as a union symbol and '.union()' method as well
set1 = {1,2,3,4,5,"hello"}
set2 = {1, "apple"}

set1|set2

{1, 2, 3, 4, 5, 'apple', 'hello'}

In [35]:
# now check set1 and set2
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'hello'}
{1, 'apple'}

In [36]:
# means union operation give union of the both set as a temporary value and we can store them
union_val= set1 | set2
union_val

{1, 2, 3, 4, 5, 'apple', 'hello'}

In [38]:
# this time we will use .union() method to make union of the both set ''
set1.union(set2)

{1, 2, 3, 4, 5, 'apple', 'hello'}

In [39]:
# let's check original sets once again
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'hello'}
{1, 'apple'}

In [40]:
# clear  - it clear the sets means after using clear method we will get the empty set

set1.clear()
set1

set()

In [42]:
## intersection  symbol is '&' --- return common value beteween both the sets, snd doesn't affect the
#                                  original set.

A = {1,2,3,4}
B = {1,5,6,7,3}

A & B   # 1,3 are common value

{1, 3}

In [43]:
# this time we will use intersection() method 
A.intersection(B)

{1, 3}

In [44]:
# difference  '-' -- difference method return value which is not common in boththe set from which we
#                    are going to subtract.and doen't affect the roiginal set.

A - B

{2, 4}

In [47]:
# .difference() this time we will use differece method.

A = {1,2,3,4}
B = {1,5,6,7,3}

diff = A.difference(B)

diff

{2, 4}

In [48]:
# check original sets
print(A)
print(B)

{1, 2, 3, 4}
{1, 3, 5, 6, 7}

In [49]:
B - A # elements blongs to B

{5, 6, 7}

In [50]:
A.difference(B)

{2, 4}

In [51]:
B.difference(A)

{5, 6, 7}

In [52]:
# symmetric difference  ' ^ '-- returns the values which are not common in both the sets.

A = {1, 2, 3, 4}
B = {1, 3, 5, 6, 7}

A ^ B

{2, 4, 5, 6, 7}

In [53]:
A.symmetric_difference(B)

{2, 4, 5, 6, 7}

In [54]:
len(A)

4

In [55]:
len(B)

5

In [57]:
c = A.copy()
c

{1, 2, 3, 4}

In [58]:
d = set(A)
d

{1, 2, 3, 4}

In [59]:
c

{1, 2, 3, 4}

In [60]:
d

{1, 2, 3, 4}

In [61]:
A

{1, 2, 3, 4}

In [62]:
B

{1, 3, 5, 6, 7}

In [68]:
# difference_update() method update the difference value into the set from which we want to subtract
A = {1, 2, 3, 4}
B = {1, 3, 5, 6, 7}

A.difference_update(B)

In [69]:
A

{2, 4}

In [70]:
B

{1, 3, 5, 6, 7}

In [80]:
# let's again define A
A = {1,2,3,4}
B = {1,2,4,5,6,7,"a"}

In [81]:
# symmetric_difference_update() method update the symmetric_difference value to the set from which we
# want to get difference
B.symmetric_difference_update(A)

# means the values which are not common between A and B will be updated into B

In [82]:
B

{3, 5, 6, 7, 'a'}

In [83]:
A

{1, 2, 3, 4}

In [84]:
# let's again define A
A = {1,2,3,4}
B = {1,2,4,5,6,7,"a"}

In [85]:
B.difference_update(A)

In [86]:
B

{5, 6, 7, 'a'}

#### discard 
- Remove an element from a set if it is a member.

- If the element is not a member, do nothing.

In [87]:
A = {1,2,3,4}
A.discard(4)
A

{1, 2, 3}

In [89]:
A = {1,2,3,4}
stored = A.discard(4)
print(stored)
# means Discard method affect the original set and return nothing

None

In [90]:
# Let's try to discard a value from set which is not a part of the set 
A = {1,2,3,4}
A.discard(8)
A

{1, 2, 3, 4}

As we can see nothing happened when we discard the value '8' which is not a part of the set 'A' but when we try other method to remove the element which is not a part of the set will through an error

In [91]:
A = {1,2,3,4}
A.remove(8)
A

KeyError: 8

As we already said that whenever we try to remove an element from the set which is not a part of the set will through an error expect 'discard()' method.

In [95]:
A = {1,2}
A.pop()
A

{2}

In [96]:
A.pop()

2

In [97]:
A

set()

In [98]:
A.pop()

KeyError: 'pop from an empty set'

In [99]:
A.discard(2)

In [100]:
A = {1,2,3}
A.pop(3)

TypeError: set.pop() takes no arguments (1 given)

#### Note -  
* in sets pop() method doesn't take an argument like in lists as a index value.

#### isdisjoint()
- Return True if two sets have a null intersection.

In [102]:
A = {3,9,20}
B = {4,5,6,7,"a"}

A.isdisjoint(B)

True

In [103]:
A = {3,9,20}
B = {4,5,20,"a"}

A.isdisjoint(B)

False

we can see that there is one common value means intersection is 20, that is why it returned False.

### issubset()
- Report whether another set contains this set. means a complete set is a part of a specific set.

In [104]:
A = {1,2,3}
B = {1,2,3,4,5,6}

A.issubset(B)

# here set A is the part of Set B

True

In [107]:
A = {1,2,3,4,5,6,7}
B = {1,2,3}

A.issubset(B)

False

In [106]:
A = {1,2,3,9}
B = {1,2,3,4,5,6}

A.issubset(B)

# as we added 9 which is not in Set B so all elements of Set A is not inside Set B means not a subset

False

In [ ]:
#### issuperset()
- Report whether this set contains another set. Means a specific set is inside a normal set

In [108]:
A = {1,2,3,4,5,6,7,8,9}
B = {1,2,3,4,5,6}

A.issuperset(B)

True

Means set B's complete elements in in set A