### Data and Time

* A Python program can handle date and time in several ways.

#### What is Tick?

* Time interval are floating-point numbers in units of seconds. Particular instants in times are expressed in second since 12:00am, January 1, 1970(epoch).

* There is a popular time module available in Python, Which provides functiona for working with times, and for converting between representations. The function 'time.time()' returns the current system time in ticks since 12:00am, January 1, 1970(epoch).

In [2]:
import time   # this is required to include time module.

ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970: ", ticks)

Number of ticks since 12:00am, January 1, 1970:  1649931585.9937716

In [3]:
import time 

print(time.localtime())

time.struct_time(tm_year=2022, tm_mon=4, tm_mday=14, tm_hour=16, tm_min=0, tm_sec=18, tm_wday=3, tm_yday=104, tm_isdst=0)

`above everything is in sort form and understandable and last one 'tm_isdst = 0' is Daylight Saving Time(DST). It may be -1,0,1, -1 means library determines DST.`

### Getting Formatted time

In [4]:
import time 

localtime = time.asctime(time.localtime(time.time()))

print("Current local time: ", localtime)

Current local time:  Thu Apr 14 16:19:53 2022

In [5]:
import time 
time.time()

1649933589.9417007

#### Getting calendar for a month.

In [6]:
import calendar

cal = calendar.month(2022,1)
print(cal)

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [11]:
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [18]:
import calendar

print(calendar.calendar(2022, 2,1,6))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [19]:
import calendar

print(calendar.calendar(2022, 2,1))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [22]:
import calendar

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

### The Time Module

#### altzone()

* this method return the offset of local DST timezone, in seconds west of UTC, if one is defined.

In [23]:
import time

print("time.altzone: ", time.altzone)

time.altzone:  -23400

#### asctime() method

In [24]:
import time 

t = time.localtime()

print("asctime :", time.asctime(t))

asctime : Thu Apr 14 16:38:21 2022

In [25]:
time.asctime(time.localtime())

'Thu Apr 14 16:38:38 2022'

#### clock() method

In [29]:
import time 

def procedure():
    time.sleep(2.5)
    
# measure process time

t0 = time.clock()

procedure()

print(time.clock() - t0, "Seconds process time")
# measure wall time

t0 = time.time()

procedure()

print(time.time() - t0, "seconds wall time")

AttributeError: module 'time' has no attribute 'clock'

### Note. - time.clock() - deprecated since version 3.3
Deprecated since version 3.3: The behaviour of this function depends on the platform: use `perf_counter() or process_time()` instead, depending on your requirements, to have a well defined behaviour.

In [30]:
import time 

def procedure():
    time.sleep(2.5)
# measure process time
t0 = time.process_time()

procedure()

print(time.process_time() - t0, "Seconds process time")
# measure wall time

t0 = time.time()

procedure()

print(time.time() - t0, "seconds wall time")

0.015625 Seconds process time
2.5079829692840576 seconds wall time

#### ctime() Method

In [31]:
import time 

print("ctime:", time.ctime())

ctime: Thu Apr 14 17:12:58 2022

#### gmtime()  Method

In [33]:
import time   # time.gmtime([sec.])

print("gmtime: ", time.gmtime(1455508609.34375))

gmtime:  time.struct_time(tm_year=2016, tm_mon=2, tm_mday=15, tm_hour=3, tm_min=56, tm_sec=49, tm_wday=0, tm_yday=46, tm_isdst=0)

#### localtime() method

In [34]:
# time.localtime([sec.])

import time

print("Localtime: ", time.localtime())

Localtime:  time.struct_time(tm_year=2022, tm_mon=4, tm_mday=14, tm_hour=17, tm_min=17, tm_sec=3, tm_wday=3, tm_yday=104, tm_isdst=0)

#### mktime() Method

In [40]:
# time.mktime(t)

import time

tup = (2019, 9, 13, 1, 30, 26, 4, 256, 0)
print(time.mktime(tup))

1568318426.0

In [41]:
# time.struct_time(tm_year = 2019, tm_mon = 9, tm_mday = 13, 
# tm_hour = 1, tm_min = 30, tm_sec = 26, tm_wday = 4,
# tm_yday = 256, tm_isdst = 0)

import time

tup = (2019, 9, 13, 1, 30, 26, 4, 256, 0)
print(time.mktime(tup))

1568318426.0

In [42]:
import time
t = (2022, 4, 10, 1, 38, 26, 4, 48, 0)
print(time.mktime(t))

1649534906.0

#### sleep() Method

In [43]:
import time

print("start: ", time.ctime())
time.sleep(5)
print("End: ", time.ctime())

start:  Thu Apr 14 17:37:38 2022
End:  Thu Apr 14 17:37:43 2022

In [44]:
t = time.ctime()

In [45]:
t

'Thu Apr 14 17:38:25 2022'

#### strftime() Method

In [48]:
#time.strftime(format[, t])

import time

tup = (2019, 9, 13, 1, 30, 26, 4, 256, 0)

t = time.mktime(tup)

print(time.strftime("%b %d %Y %H:%M:%S", time.localtime(t)))

Sep 13 2019 01:30:26

#### strptime() Method

In [50]:
# time.strptime(string[, format])

import time 

struct_time = time.strptime("30 12 2015", "%d %m %Y") # Y must be in capital

print('tuple : ', struct_time)

tuple :  time.struct_time(tm_year=2015, tm_mon=12, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=364, tm_isdst=-1)

#### time() Method

In [51]:
import time 

print(time.time())

1649938996.8586242

In [52]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=4, tm_mday=14, tm_hour=17, tm_min=53, tm_sec=27, tm_wday=3, tm_yday=104, tm_isdst=0)

In [53]:

time.ctime()

'Thu Apr 14 17:53:35 2022'

#### tzset() Method

In [57]:
import time
import os

os.environ['TZ'] = 'EST+05EDT,M4.1.0,M10.5.0'
time.tzset()
print(time.strftime('%X %x %Z'))

os.environ['TZ'] = 'AEST-10AEDT-11,M10.5.0,M3.5.0'
time.tzset()
print(time.strftime('%X %x %Z'))

AttributeError: module 'time' has no attribute 'tzset'

This probably isn't a bug (the documentation is very clear that the tzset() function is only available on Unix). It's more likely a weakness in Windows that prevents the Python programmers from implementing tzset() under it.

In [59]:
# import time

# time.timezone()

In [61]:
# import time

# time.tzname()

In [73]:
import datetime

x = datetime.datetime.now()

print(x)

2022-04-14 18:18:34.720036

In [74]:
import datetime

x = datetime.datetime.now()

print(x.year)

2022

In [75]:
print(x.strftime("%A"))

Thursday

In [76]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [77]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [78]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%a"))

Thu

####  A reference of all the legal format codes:

**Directive	--------Description**	
* %a	------Weekday, short version	Wed	

* %A	------Weekday, full version	Wednesday	

* %w	------Weekday as a number 0-6, 0 is Sunday	3	

* %d	------Day of month 01-31	31	

* %b	------Month name, short version	Dec	

* %B	------Month name, full version	December	

* %m	------Month as a number 01-12	12	

* %y	------Year, short version, without century	18	

* %Y	------Year, full version	2018	

* %H	------Hour 00-23	17	

* %I	------Hour 00-12	05	

* %p	------AM/PM	PM	

* %M	------Minute 00-59	41	

* %S	------Second 00-59	08	

* %f	------Microsecond 000000-999999	548513	

* %z	------UTC offset	+0100	

* %Z	------Timezone	CST	

* %j	------Day number of year 001-366	365	

* %U	------Week number of year, Sunday as the first day of week, 00-53	52	

* %W	------Week number of year, Monday as the first day of week, 00-53	52	

* %c	------Local version of date and time	Mon Dec 31 17:41:00 2018	

* %C	------Century	20	

* %x	------Local version of date	12/31/18	

* %X	------Local version of time	17:41:00	

* %%	------A % character	%	

* %G	------ISO 8601 year	2018	

* %u	------ISO 8601 weekday (1-7)	1	

* %V	------ISO 8601 weeknumber (01-53)	01

### calendar

In [81]:
import calendar

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [82]:
print(calendar.firstweekday())

0

In [83]:
print(calendar.isleap(2022))

False

In [84]:
print(calendar.month(2022,4))

     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [86]:
print(calendar.monthcalendar(2022,4))

[[0, 0, 0, 0, 1, 2, 3], [4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17], [18, 19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30, 0]]

In [91]:
for weak in calendar.monthcalendar(2022,4):
    print(weak)

[0, 0, 0, 0, 1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17]
[18, 19, 20, 21, 22, 23, 24]
[25, 26, 27, 28, 29, 30, 0]

In [92]:
import calendar

calendar.monthrange(2022, 4)

(4, 30)

In [94]:
import calendar

calendar.monthrange(2022,2)  # weekday code are 0 (Monday) to 6(Sunday) so here output is 1 means
                             # Tuesday and another output is number of days in month

(1, 28)

In [96]:
calendar.prcal(2022)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [97]:
import calendar
calendar.prmonth(2022,3)

     March 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [113]:
calendar.setfirstweekday(0)

In [114]:
calendar.weekday(2022,4,14)

3

In [109]:
calendar.timegm((2022, 3, 12, 2, 2, 4 ))

1647050524