### Python List

In [5]:
list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1,2,3,4,5]
list3 = ["a", "b", "c", "d"]

#### Accessing Value in Lists

In [6]:
list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1,2,3,4,5]
list3 = ["a", "b", "c", "d"]
print(list1[0])

physics

In [7]:
list2[0]

1

In [8]:
list1[1:5]

['chemistry', 1997, 2000]

In [9]:
list3[-1]

'd'

In [10]:
list3 = ["a", "b", "c", "d"]

list3[-3:-1]

['b', 'c']

#### Updating Lists

In [11]:
list3 = ["a", "b", "c", "d"]

list3[2] = "B"
list3

['a', 'b', 'B', 'd']

In [12]:
list3[1:3] = "A","B","C","d"
list3  # multiple uppdation when no. of element which is to be updated is different then it 
       # will change the list length. if we provide less element corresponding to the element to 
       # to be updated then is reduces the length and element shift accordingly and if we provide
       # more element then it increase the length of the list and rest element will shift right

['a', 'A', 'B', 'C', 'd', 'd']

In [13]:
list3[1:5] = "b", "c"

list3

['a', 'b', 'c', 'd']

In [14]:
list3[1:3] = ["A", "B", "C"]
list3

['a', 'A', 'B', 'C', 'd']

### Delete lists Elements

In [15]:
list3 = ["a", "b", "c", "d"]
del list3[2]

In [16]:
list3

['a', 'b', 'd']

In [17]:
# for entire list 
del list3

In [18]:
list3

NameError: name 'list3' is not defined

#### Basic Lists Operation

In [19]:
len([1,2,3])

3

In [20]:
# Concatenation
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [21]:
["Hi"] * 4

['Hi', 'Hi', 'Hi', 'Hi']

In [22]:
3 in [1,2,3,4]

True

In [23]:
for x in [1,2,3]:print(x,end = ' ')

1 2 3

#### Indexing, Slicing and Matrixes

In [24]:
L = ["C++", "Java", "Python"]

In [25]:
L[2]

'Python'

In [26]:
L[-2]

'Java'

In [27]:
L[1:]

['Java', 'Python']

#### BUilt-in List Function and Methods

In [28]:
### len()
lst = [1,2,3,"hello"]
len(lst)

4

In [29]:
lst = [1,2,3,{},[],(),"&"]
len(lst)

7

In [30]:
# max()
list1, list2 = ["C++", "Java", "Python"], [456, 700, 200]

print(max(list1))
print(max(list2))

Python
700

In [31]:
# min()

list1, list2 = ["C++", "Java", "Python"], [456, 700, 200]

print(min(list1))
print(min(list2))

C++
200

In [32]:
# list() # convert tuple or string into list

tuple1 = (1,2,3,"Hello")

list(tuple1)

[1, 2, 3, 'Hello']

In [33]:
str1 = "Hello"
list(str1)

['H', 'e', 'l', 'l', 'o']

In [34]:
str1

'Hello'

In [35]:
str2 = "hello world"
list(str2)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### append()
* this method append the list and this metod does not return any value.

In [36]:
list1 = ["C++", "Java", "Python"]

list1.append("PHP")

In [37]:
list1

['C++', 'Java', 'Python', 'PHP']

In [38]:
list1.append(["hello", "Programming"])

In [39]:
list1

['C++', 'Java', 'Python', 'PHP', ['hello', 'Programming']]

In [40]:
list1.append({1:"Hello", 2:"Hii"})

In [41]:
list1

['C++',
 'Java',
 'Python',
 'PHP',
 ['hello', 'Programming'],
 {1: 'Hello', 2: 'Hii'}]

In [51]:
list1 = ["C++", "Java", "Python"]

list2 = list1.append("PHP")

print("List1 after extend value:", list1)
print("Stored value in list2: ", list2)

List1 after extend value: ['C++', 'Java', 'Python', 'PHP']
Stored value in list2:  None

As we can see that the stored value in list2 is "None" because we know that append method return nothing only make changes in original list.

#### count
* count of how amy times obj occur in lists.

In [42]:
list1 = [123,"xyz", 'zara', 'abc', 123]

list1.count(123)

2

In [43]:
list1.count('zara')

1

In [44]:
list1

[123, 'xyz', 'zara', 'abc', 123]

#### extend()

* this methods does not return any value but adds the content to an existing list.

In [45]:
list1 = ["physics", "chemistry", "math"]

list2 = list(range(5))

In [46]:
list2

[0, 1, 2, 3, 4]

In [47]:
list1.extend(list2)

In [48]:
list2

[0, 1, 2, 3, 4]

In [49]:
list1

['physics', 'chemistry', 'math', 0, 1, 2, 3, 4]

In [50]:
list1 = ["physics", "chemistry", "math"]

# as we know extend method return nothing 
list3 = list1.extend([1,2,3,4])
print("List1 after extending: ", list1)
print("Let's see stored value in list3:", list3)

List1 after extending:  ['physics', 'chemistry', 'math', 1, 2, 3, 4]
Let's see stored value in list3: None

As we can see we got 'None' value we know that extend method return nothing just change the original list.

#### index():

* return the index of found object otherwise raise an exception indicating that value is not found.

In [52]:
list1 = ["C++", "Java", "Python"]
list1.index("Python")

2

In [53]:
list1.index("PHP")

ValueError: 'PHP' is not in list

#### insert()

* does not return any value but it inserts the given element at the given index.

In [55]:
list1 = ["C++", "Java", "Python"]

list1.insert(3,"PHP")
list1

['C++', 'Java', 'Python', 'PHP']

In [56]:
list1.insert(5,"hello")

In [57]:
list1

['C++', 'Java', 'Python', 'PHP', 'hello']

As we can see if will give index number more than list lenght then element will be insert at the last index of the list.

In [58]:
list1

['C++', 'Java', 'Python', 'PHP', 'hello']

#### pop():

* remove the last elemtent of the list if index is not given.
* return removed element from the list.

In [59]:
list1 = ["C++", "Java", "Python"]
list1.pop()
list1

['C++', 'Java']

In [60]:
list1 = ["C++", "Java", "Python"]
list1.pop(0)
list1

['Java', 'Python']

In [61]:
list1 = ["C++", "Java", "Python"]

removed_el = list1.pop(1)
removed_el

'Java'

### remove()

* this method remove the element from the list.
* this method does not return any value.

In [62]:
list1 = ["C++", "Java", "Python"]
list1.remove("C++")
list1

['Java', 'Python']

In [64]:
list1 = ["C++", "Java", "Python"]

removed = list1.remove("Java")
print("List1:", list1)
print("Stored removed: ", removed)

List1: ['C++', 'Python']
Stored removed:  None

#### reverse()

* reverse objects of list in place.
* this method does not return any value.

In [65]:
list1 = ["C++", "Java", "Python"]

list1.reverse()

In [66]:
list1

['Python', 'Java', 'C++']

#### sort()

* this method sort the object of list, use compare function if given.
* this method does not return any value.

In [67]:
list1 = ["C++", "Java", "Python"]
list1.sort()

In [68]:
list1

['C++', 'Java', 'Python']

In [69]:
list2 = [2,3,6,8,9,1,2,3]
list2.sort()
list2

[1, 2, 2, 3, 3, 6, 8, 9]

In [70]:
list1 = ['a','d','g','b','A','D','B','C']
list1.sort()

In [71]:
list1

['A', 'B', 'C', 'D', 'a', 'b', 'd', 'g']

In [72]:
list1.sort(reverse=True)

In [73]:
list1

['g', 'd', 'b', 'a', 'D', 'C', 'B', 'A']

In [79]:
list1 = ['a', 'B','c','D']
list1.sort()
list1

['B', 'D', 'a', 'c']

As we can see that Python is case sensitive, so simple sort() method we got this but by using some built-in method we can avoid this.

In [81]:
list1 = ['a', 'B','c','D']
list1.sort(key=str.lower)
list1

['a', 'B', 'c', 'D']

In [82]:
# as per upper case
list1 = ['A', 'd','c','B']
list1.sort(key=str.upper)
list1

['A', 'B', 'c', 'd']

even we can make our function as well.

In [74]:
list1 = ['a','d','g','b','A','D','B','C',12,3,4,4,5]
list1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

As we can see that to sort a list, the list must contain same data type

In [75]:
list1 = ['a','d','g','b','A','D','B','C','1','4','2','8','5']

list1.sort()
list1

['1', '2', '4', '5', '8', 'A', 'B', 'C', 'D', 'a', 'b', 'd', 'g']

In [77]:
# for descending order
list1.sort(reverse=True)
list1

['g', 'd', 'b', 'a', 'D', 'C', 'B', 'A', '8', '5', '4', '2', '1']

In [78]:
list1 = ['zabc', 'bdisd', 'b','z','sd','dfdfdff']
list1.sort()
list1

['b', 'bdisd', 'dfdfdff', 'sd', 'z', 'zabc']

In [83]:
# sort by length
def sort_by_len(x):
    
    return len(x)

list1 = ['zabc', 'bdisd', 'b','z','sd','dfdfdff']

list1.sort(key=sort_by_len) # no need to pass () paranthesis.
list1

['b', 'z', 'sd', 'zabc', 'bdisd', 'dfdfdff']