####  Python Comments

In [7]:
# this is a comment 
print("Hello World") # this is second comment

Hello World

In [8]:
print("Hello World")

Hello World

In [9]:
# print("Hello world")

# here " # " use for comment in python , interpreter will igonore these lines

### Multi-line Statements

In [4]:
# we use slash "\" for as a line continuation character 
item_one = "Hello, "
item_two = " Welcome"
item_three = " to The Python World!"

total = item_one + \
        item_two + \
        item_three
print(total)

Hello,  Welcome to The Python World!

In [5]:
# The satement contained within the [], {}, or () do not need to use the line continuation charachter 

days = ["mon", "tue", "wed",
       "thu", "fri", "sat",
       "sun"]
print(days)

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

#### Quotation in Python
 
Python accept single ('), double ("), and triple (""") quotes to denote the string literals.

In [6]:
word = 'word'
sentence = "This is a sentence "
paragraph  = """This is a paragraph. it is 
made up of multiple lines and sentence"""

print(word)
print()
print(sentence)
print()
print(paragraph)

word

This is a sentence

This is a paragraph. it is
made up of multiple lines and sentence

#### waiting for the  user!

In [11]:
input("\n\nPress the enter key to exit")

Press the enter key to exit

''

#### multiple statement on a single line (;)

In [12]:
print(3+4); print("hello world");print("this is the way using ;")

7
hello world
this is the way using ;

#### Command Line Argument

In [13]:
# lets make a test.py python file and run it through the command line 
# import sys

# print("Number of arguments:", len(sys.argv), "arguments.")
# print("Argument list: ", str(sys.argv))

In [14]:
# >python test.py arg1 arg2 arg3

# output
# Number of arguments: 4 arguments.
# Argument list:  ['test.py', 'arg1', 'arg2', 'arg3']

### Assigning Value to Variable

In [15]:
coutner = 100
mile = 1000.0 
name = "John"
print(coutner)
print(mile)
print(name)

100
1000.0
John

#### Mulitple Assignment

In [16]:
a = b = c = 1
x, y, z = 1,2,"John"

print(a)
print(b)
print(c)
print(x)
print(y)
print(z)

1
1
1
1
2
John

#### Python Number

In [17]:
var1 = 1
var2 = 2

print(var1, var2)

1 2

In [20]:
# we can delete the reference to a number object by using the del 

del var1

In [21]:
print(var1)

NameError: name 'var1' is not defined

In [22]:
var1 = 1
var2 = 2

del var1[,var2]

SyntaxError: invalid syntax (1318772300.py, line 4)

In [25]:
# number support three different type 

# int
# float
# complex

a = 10
b = 15.20
c = 3.14j

print(a, b, c)

10 15.2 3.14j

### Python String

In [26]:
str = 'Hello World!'
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str*2)
print(str + "TEST")

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [28]:
print(*str)

H e l l o   W o r l d !

#### Python List

In [1]:
list = ["abcd",1,2,2.5,"John"]
tinylist = [123, "john"]
print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(tinylist*2)
print(list + tinylist)

['abcd', 1, 2, 2.5, 'John']
abcd
[1, 2]
[2, 2.5, 'John']
[123, 'john', 123, 'john']
['abcd', 1, 2, 2.5, 'John', 123, 'john']

#### Python tuple

In [8]:
tuple = ("abc", 233, 2.23, "John", 73.3)
tinytuple = (123, 'john')

print(tuple)
print(tuple[0])
print(tuple[1:3])
print(tuple[2:])
print(tinytuple*2)
print(tuple + tinytuple)

('abc', 233, 2.23, 'John', 73.3)
abc
(233, 2.23)
(2.23, 'John', 73.3)
(123, 'john', 123, 'john')
('abc', 233, 2.23, 'John', 73.3, 123, 'john')

In [10]:
a = "hello" 
print       (a)

hello

In [11]:
print
(a)

'hello'

In [2]:
a = "hello"
print





(a)[2:]

'llo'

In [4]:
print
("hello")

'hello'

In [5]:
print




("hello")

'hello'

In [7]:
tuple1 = ("abc", 233, 2.23, "John", 73.3)


tuple1[3] = "hello"

TypeError: 'tuple' object does not support item assignment

In [8]:
list1 = ["abc", 233, 2.23, "John", 73.3]

list1[2] = "Hello"

list1

['abc', 233, 'Hello', 'John', 73.3]

#### Python Dictionary

In [9]:
dict = {}

dict["one"] = "this is one"

dict[2] = "this is two"

tinydict = {"name":"John", "code":6734, "dept":"software"}


print(dict)
print(tinydict)

{'one': 'this is one', 2: 'this is two'}
{'name': 'John', 'code': 6734, 'dept': 'software'}

In [10]:
print(dict['one'])
print(dict[2])

print(dict.keys())
print(dict.values())

this is one
this is two
dict_keys(['one', 2])
dict_values(['this is one', 'this is two'])

In [11]:
print(dict.items())

dict_items([('one', 'this is one'), (2, 'this is two')])

### Type of Operators

* Arithmetic Operators

In [12]:
a = 21
b = 10
c = 0

In [13]:
c = a + b
c

31

In [14]:
c = a - b

In [15]:
c

11

In [16]:
c = a*b
c

210

In [17]:
a/b

2.1

In [18]:
a%b

1

In [20]:
a = 2
b = 3
a**b

8

In [21]:
a = 11
b = 5

a//b

2

* Comparison Operator

In [22]:
a = 21
b = 10

if a == b :
    print("a is equal to b")
else:
    print("a is not equal to b")

a is not equal to b

In [23]:
if a != b:
    print("a is not equal to b")
else:
    print("a is equal to b")

a is not equal to b

In [25]:
a = 21
b = 10

if a > b :
    print("a is greater than b")
else:
    print("a is not geater than b")

a is greater than b

In [26]:
if a < b:
    print("a is less than b")
else:
    print("a is not less than b")

a is not less than b

In [28]:
if a>=b:
    print("a is geater than or equal to b")
else:
    print("a is less than b")

a is geater than or equal to b

In [29]:
if a <=b:
    print("a is less than or equal to b")
else:
    print("a is greater than b")

a is greater than b

* Assignment Operator

In [31]:
a = 21
b = 10
c = 0

In [32]:
c = a + b
c

31

In [33]:
c -= 10
c

21

In [34]:
c +=10
c

31

In [35]:
c *= 2
c

62

In [36]:
c /= 3

In [37]:
c

20.666666666666668

In [38]:
c //=4

In [39]:
c

5.0

In [40]:
c **= 2
c

25.0

* Bitwise Operator

In [43]:
a = 60
b = 13

print("a =", a, " ,binary :", bin(a))

a = 60 ,binary : 0b111100

In [44]:
# and 

a & b

12

In [45]:
# OR
a | b

61

In [46]:
# XOR

a ^ b

49

In [47]:
# Complement ~ not 
~a

-61

In [49]:
~ b

-14

In [50]:
a = 20
a<<2

80

In [51]:
a = 20
a>>2

5

* Logical Operator

In [52]:
a = 10
b = 20

list1 = [1,2,3,4]

if a in list1:
    print("a is available in list1")
else:
    print("a is not available in list1")

a is not available in list1

In [53]:
if a not in list1:
    print("a is not available in list1")
else:
    print("a is available in list1")

a is not available in list1

In [54]:
a = 10
b = 3

list1 = [1,2,3,4]

if a or b in list1:
    print("a or b in the list1")
else:
    print("neither a nor b in the list1")

a or b in the list1

* Identity Operator

In [55]:
a = 20
b = 20

if a is b :
    print("a is b ")
else:
    print("a is not b")

a is b

In [56]:
if id(a) == id(b):
    print("a and b have the same id")
else:
    print("a and b have their own id")

a and b have the same id

In [57]:
a = 20
b = 30

if id(a) == id(b):
    print("a and b have the same id")
    
else:
    print(f"'a' id is: {id(a)} \n'b' id is: {id(b)}")

'a' id is: 2399525170064
'b' id is: 2399525170384

In [58]:
a is b

False

In [59]:
a = 20 
b = 20

a is b

True

## Python Operators Precedence

**The following table lists all the operators from highest precedence to the lowest.

1. ` **  `------------- Exponential (raise to the power)

2. ` ~  + - `-----------Complement, unary plus and minus (method name for the last two are +@ and -@)

2.  `* / % //  `---------multiply, divide, modulo and floor division

3. ` + - `-------------- Addition and Subraction

4. ` >> <<  `----------- Right and Left bitwise shift

5.  `&  `--------------- Bitwise 'AND'

6.  `^ |  `------------- Bitwise exclusive "OR" and regular "OR"

7. `<= < > >= `--------- Comparision Operators

8.  ` < > ==  != `-------Equality Operator

9. ` = %= /= //= -= += *= **= ` ----- Assignment Operator 

10.  ` is is not ` ------Identity Operator 

11. ` in  not in ` ------Membership Operators 

12.   ` Not or And  `--- Logical Operator

In [61]:
a = 20
b = 10
c = 15 
d = 5

In [62]:
(a+b)*c/d

90.0

In [63]:
(20+10)*15/5

90.0

In [64]:
30*15

450

In [65]:
450/5

90.0

In [67]:
45*2/3%7

2.0

In [68]:
45*2/3//7

4.0

In [69]:
45*2/3//7/3

1.3333333333333333

In [70]:
45*2/3/2//7 # if same operators come two time then left one will have high precedence over right one

2.0