#### tuple

In [1]:
tuple1 = (1,2,3,4)
tuple2 = ('a','b','c','d')
tuple3 = (1,2,3,4,'a','b','c')

In [2]:
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 3, 4)
('a', 'b', 'c', 'd')
(1, 2, 3, 4, 'a', 'b', 'c')

#### Accessing Value in Tuple

In [4]:
tuple1

(1, 2, 3, 4)

In [5]:
tuple1[0]

1

In [6]:
tuple1[1:3]

(2, 3)

In [7]:
tuple1[:-1]

(1, 2, 3)

In [8]:
tuple1[::-1]

(4, 3, 2, 1)

#### updating tuples

In [9]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

tup3 = tup1 + tup2
tup3

(12, 34.56, 'abc', 'xyz')

In [10]:
# but we can't update like
tup1[2] = 100

TypeError: 'tuple' object does not support item assignment

#### delete tuple elements

In [11]:
tuple1

(1, 2, 3, 4)

In [12]:
del tuple1

In [13]:
tuple1

NameError: name 'tuple1' is not defined

In [14]:
tup1

(12, 34.56)

In [15]:
del tup1[0] # note tuple object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

#### Basic Tuple Operation

In [16]:
# len

tup1 = ("a","b",1,2,3)
len(tup1)

5

In [17]:
(1,2,3,4) + (5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [18]:
("hi")* 4 # this is str not a tuple so we need to add at least one ','.

'hihihihi'

In [19]:
("hi",)*4 # now this is a tuple.

('hi', 'hi', 'hi', 'hi')

In [20]:
type(("hi"))

str

In [21]:
3 in (1,2,3)

True

In [22]:
for x in (1,2,3):print(x, end = " ")

1 2 3

#### Indexing, Slicing and Matrixes

In [23]:
t = ('c++','java', 'python')

In [24]:
t[0]

'c++'

In [25]:
t[1:]

('java', 'python')

In [26]:
t[::-1]

('python', 'java', 'c++')

#### BUit-in Tuple functions

In [27]:
### cmp()  # no longer available in Python3

In [29]:
# len()

len(("Hello", "Python", 12,3))

4

In [30]:
t

('c++', 'java', 'python')

In [31]:
len(t)

3

In [32]:
# max()
max(t)

'python'

In [33]:
t = ('z','a',"Z")
max(t)

'z'

In [34]:
# min()
min(t)

'Z'

In [35]:
t = (123,134,534,232,12)
max(t)

534

In [36]:
min(t)

12

In [37]:
#### Tuple

s = "hello"
tuple(s)

('h', 'e', 'l', 'l', 'o')

In [38]:
lst = [1,2,4,'hello', 'hi']

tuple(lst)

(1, 2, 4, 'hello', 'hi')

In [39]:
lst

[1, 2, 4, 'hello', 'hi']