#### If Satements

* python programming language assumes any `non-zero and non-null value as True and zero and null value as False`.

In [2]:
var1 = 100

if var1:
    print("1 - Got the true expression value")
    print(var1)

var2 = 0
if var2:
    print("2 - Got the true expression value")
    print(var2)
    
print("Good bye!")

1 - Got the true expression value
100
Good bye!

As we can see var2 = 0 which means python will assume it False so condition will not be satisfied.

In [4]:
var2 = 0
if var2:
    print("Hello")
    print(var2)
    
print("Good bye!")

Good bye!

### if - else:

In [8]:
amount = int(input("Enter the amount: "))
print()
if amount < 1000:
    print("You will get 5.0 % discount!")
    discount = amount * 0.05
    print("5% Discount in value : ", discount)

else:
    print("You will get 10.0 % discount!")
    discount = amount * 0.10
    print("Discount : ", discount)
    

print("Net payable :", amount - discount)

Enter the amount: 129

You will get 5.0 % discount!
5% Discount in value :  6.45
Net payable : 122.55

### Th 'elif' statement

In [10]:
amount = int(input("Enter amount: "))

if amount <1000:
    print("You will get 5.0 % discount!")
    discount = amount * 0.05
    print("Discount: ", discount)
    
elif amount<5000:
    print("You will get 10.0 % discount!")
    discount = amount * 0.10
    print("Discount : ", discount)
    
else:
    print("You will get 15% discount!")
    discount = amount * 0.15
    print("Discount : ", discount)
    
print("Net payable : ", amount - discount)

Enter amount: 1220
You will get 10.0 % discount!
Discount :  122.0
Net payable :  1098.0

### Nested IF Statement

In [12]:
num = int(input("Enter the number: "))

if num%2 == 0:
    if num%3 == 0:
        print("Number is Divisible by 2 and 3")
    else:
        print("Number is Divisible by 2 not divisible by 3")
        
else:
    if num%3 == 0:
        print("Divisible by 3 not divisible by 2")
    else:
        print("neither divisible by 2 nor 3")

Enter the number: 8
Number is Divisible by 2 not divisible by 3

#### Single Statement Suites

In [13]:
var = 100

if (var == 100) : print("Value expression is 100")
print("Good bye!")

Value expression is 100
Good bye!

#### While loop statements:

A while loop statement in python programming language repeatedly executes a target statement as long as a given condition is true.

In [14]:
count = 0

while count < 9:
    print("The count is : ", count)
    count = count + 1

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8

#### The infinite loop

In [15]:
var = 1

while var == 1:  # this construct an infinite loop 
    num = int(input("Enter the number : "))
    print("You have entered: ", num)
    
print("Good bye!")

Enter the number : 10
You have entered:  10
Enter the number : 12
You have entered:  12
Enter the number : 23
You have entered:  23
Enter the number : s

ValueError: invalid literal for int() with base 10: 's'

#### Using else Statement with loops

In [16]:
count = 0

while count < 5:
    print(count, " is less than 5")
    count = count + 1

else:
    print(count, " is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5  is not less than 5

### Single Statement Suites

In [18]:
### this is infinite loop
# flag = 1  

# while flag : print("Given flag is really True! ")
# print("Good bye!")

### for Loop Statements

In [19]:
range(5)

range(0, 5)

In [20]:
list(range(5))

[0, 1, 2, 3, 4]

In [21]:
for var in list(range(5)):
    print(var)

0
1
2
3
4

In [22]:
for letter in 'python':  # traversal of a string sequence
    print("Current letter: ", letter)

Current letter:  p
Current letter:  y
Current letter:  t
Current letter:  h
Current letter:  o
Current letter:  n

In [23]:
fruits = ['banana', 'apple', 'mango']

for fruit in fruits:  # traversal of list sequence
    print("Current fruit: ", fruit)
    
print("Good bye!")

Current fruit:  banana
Current fruit:  apple
Current fruit:  mango
Good bye!

### Iterating by Sequence Index:

In [25]:
fruits = ['banana', 'apple', 'mango']

for index in range(len(fruits)):
    print("Current fruit: ", fruits[index])
    
print("Good  bye!")

Current fruit:  banana
Current fruit:  apple
Current fruit:  mango
Good  bye!

#### Using else Statement with loop

In [26]:
numbers = [11, 33, 55, 39, 55, 75, 37, 21, 23, 41, 13]

for num in numbers:
    if num%2 == 0:
        print("The list contain an even number")
        break
else:
    print("The list does not contain even number")

The list does not contain even number

In [27]:
numbers = [11, 33, 55, 39, 24, 75, 37, 21, 23, 41, 13]

for num in numbers:
    if num%2 == 0:
        print("The list contain an even number")
        break
else:
    print("The list does not contain even number")

The list contain an even number

#### Nested loops

In [28]:
import sys

for i in range(1, 11):
    for j in range(1, 11):
        k = i * j
        print(k, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [29]:
# we can create table of numbers

### Loop Control Statements

#### break statement :
* Terminate the loop statement and transfers execution to the statement immediately following the loop.

#### continue statement:

* Cuase the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.

#### pass statements:
* The pass statement in python is used when a statementis required syntactically but you do not want any command or code to execute.

#### Break

In [30]:
for letter in 'python':
    
    if letter == 'h':
        break
    
    print("Current letter: ", letter)

Current letter:  p
Current letter:  y
Current letter:  t

In [32]:
# using decrement means -1
var = 10

while var >0:
    print("Current var is : ", var)
    var = var - 1
    if var == 5:
        break
        
print("Good bye!")

Current var is :  10
Current var is :  9
Current var is :  8
Current var is :  7
Current var is :  6
Good bye!

In [35]:
no = int(input("Any number: "))
numbers = [11,33,55,39,55,75,37,21,23,41,13]

for num in numbers:
    if num == no:
        print("number found in list")
        break
        
else:
    print("Number not found in list")

Any number: 13
number found in list

#### Continue Statement

In [37]:
for letter in 'python':
    if letter == 'h':
        continue
    
    print("Current letter: ", letter)
print()   
var = 10
while var > 0:
    var = var -1
    if var == 5:
        continue
        
    print("Current variable value: ", var)
    
print("Good bye!")

Current letter:  p
Current letter:  y
Current letter:  t
Current letter:  o
Current letter:  n

Current variable value:  9
Current variable value:  8
Current variable value:  7
Current variable value:  6
Current variable value:  4
Current variable value:  3
Current variable value:  2
Current variable value:  1
Current variable value:  0
Good bye!

### Pass statement

In [38]:
#### pass statement is 'null' operation ; nothing happens when it executes 

for letter in 'python':
    pass
    print("this is pass block")
    print("Current letter :", letter)
    
print("Good bye!")

this is pass block
Current letter : p
this is pass block
Current letter : y
this is pass block
Current letter : t
this is pass block
Current letter : h
this is pass block
Current letter : o
this is pass block
Current letter : n
Good bye!