### Dictionary

* ` Key is separated from its value by a colon(:) and the item is separated by commas ",".`

* ` Key are unique within dicationary while value may not be. `

* ` The dictionary value can be of any type, but Key must be immutable type such as string, number, or tuples.`

* ` empty dictionary without any item is written with just two curly braces, like this {}`

In [2]:
dict1 = {'name':'zara', 'age': 7, 'class': 'first'}
print(dict1)

{'name': 'zara', 'age': 7, 'class': 'first'}

#### Acccess values in Dictionary

In [3]:
dict1

{'name': 'zara', 'age': 7, 'class': 'first'}

In [4]:
dict1["name"]

'zara'

In [5]:
dict1["age"]

7

In [6]:
# we can't access the key by its value

dict1['zara']

KeyError: 'zara'

#### Updating Dictionary

In [7]:
dict1

{'name': 'zara', 'age': 7, 'class': 'first'}

In [8]:
dict1['age'] = 8
dict1

{'name': 'zara', 'age': 8, 'class': 'first'}

In [9]:
dict1['school'] = "DPS school" # if key is not present then it will be new key and value
dict1

{'name': 'zara', 'age': 8, 'class': 'first', 'school': 'DPS school'}

#### Deleting Dictionary Elements

In [10]:
dict1

{'name': 'zara', 'age': 8, 'class': 'first', 'school': 'DPS school'}

In [11]:
del dict1['school']

In [12]:
dict1

{'name': 'zara', 'age': 8, 'class': 'first'}

In [13]:
dict1.clear()

In [14]:
dict1

{}

In [15]:
del dict1

In [16]:
dict1

NameError: name 'dict1' is not defined

#### Properties of Dictionary keys

In [18]:
# a. more than one entry per key is not allowed. means no duplicate key is allowed.

dict1 = {'name': 'zara','name':'hayat', 'age': 8, 'class': 'first', 'school': 'DPS school'}

dict1

{'name': 'hayat', 'age': 8, 'class': 'first', 'school': 'DPS school'}

As we can see only last entry of 'name' is presen in dict1 no duplicate key allowed.

In [19]:
# b.  Key must be immutable.

dict1 = {['name']: 'zara', 'age':8}  # here we have pass list as a key
dict1

TypeError: unhashable type: 'list'

In [20]:
dict1 = {('name'): 'zara', 'age':8}
dict1

{'name': 'zara', 'age': 8}

In [21]:
dict1 = {('name','class'): 'zara', 'age':8}
dict1

{('name', 'class'): 'zara', 'age': 8}

As we can see that key can be a tuple , string or number means immutable.

#### BUilt-in Dictionary Functions and Methods

In [22]:
### cmp(dict1, dict2) # no longer in python 3

In [23]:
# len()

dict1 = {'name': 'zara', 'age': 8, 'class': 'first', 'school': 'DPS school'}
len(dict1)

4

#### str():

* produce a printable string representation of a dictionary.

In [24]:
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}
str(dict1)

"{'name': 'zara', 'age': 8, 'class': 'first'}"

In [25]:
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

print("Equivalent String: ", str(dict1))

Equivalent String:  {'name': 'zara', 'age': 8, 'class': 'first'}

In [27]:
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

str1 = str(dict1)

str1.split(",")

["{'name': 'zara'", " 'age': 8", " 'class': 'first'}"]

In [28]:
# type()

dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

type(dict1)

dict

In [29]:
### clear()

dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1.clear()

In [30]:
dict1

{}

In [31]:
len(dict1)

0

In [32]:
# copy()
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}
dict2 = dict1.copy()

In [33]:
dict2

{'name': 'zara', 'age': 8, 'class': 'first'}

In [34]:
dict1

{'name': 'zara', 'age': 8, 'class': 'first'}

In [35]:
### fromkey()   # create new dictionary with keys from seq and values set to value

# dict.fromkeys(seq[, values])

seq = {'name', 'age', 'sex'}

dict1 = dict.fromkeys(seq)

dict1

{'name': None, 'age': None, 'sex': None}

In [36]:
seq = {'name', 'age', 'sex'}

dict1 = dict.fromkeys(seq, 10)
dict1

{'name': 10, 'age': 10, 'sex': 10}

In [37]:
### get()   - return value for the given key. if value is not available then return default value
              # None while in normal if value is not present then key raise error 
    
    
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1.get("age")

8

In [38]:
dict1.get("School")

As we had already discussed that if key is not present then it return 'None'.

#### items()

In [39]:
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1.items()

dict_items([('name', 'zara'), ('age', 8), ('class', 'first')])

#### keys()

In [41]:
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1.keys()

dict_keys(['name', 'age', 'class'])

#### setdefault(key, default = None)

* `setdefault is similar to get(), but will set dict[key] = default if the key is not already in dict.`

In [42]:
dict1 = {'name': 'zara', 'age': 8}

dict1.setdefault("age")

8

In [43]:
dict1.setdefault("sex")

In [44]:
dict1

{'name': 'zara', 'age': 8, 'sex': None}

In [47]:
dict1.setdefault('sex', "female")

In [48]:
dict1

{'name': 'zara', 'age': 8, 'sex': None}

As we can see that if key is not present already in dict then it will be set with 'None'.

In [49]:
# but normaly if key is not present then it will raise an error

dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1['school']

KeyError: 'school'

In [50]:
# but with get()
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}
dict1.get('school')

In [51]:
dict1

{'name': 'zara', 'age': 8, 'class': 'first'}

In [52]:
# with setdefault will set that particular key with value 'None'

dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1.setdefault("school")

In [53]:
dict1

{'name': 'zara', 'age': 8, 'class': 'first', 'school': None}

In [55]:
# fromkeys() we can make diction by giving any value or default None

seq = ['a','b','c']

dict1 = dict.fromkeys(seq, 10)
dict1

{'a': 10, 'b': 10, 'c': 10}

#### Dictionary update() method

In [56]:
dict1 = {'name': 'zara', 'age': 8}

dict2 = {'sex':'female'}

dict1.update(dict2)

In [57]:
dict1

{'name': 'zara', 'age': 8, 'sex': 'female'}

In [58]:
dict2

{'sex': 'female'}

#### Dictionary value() method

In [59]:
dict1 = {'name': 'zara', 'age': 8, 'class': 'first'}

dict1.values()

dict_values(['zara', 8, 'first'])